#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.dll
*.ide-wal
*.lock
*.ide
*.ide-shm
FetchPull.bat
AddCommitPush.bat
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Dp]ackages*/
