
@{
    ViewBag.Title = "Jonas";
}

<h2>Jonas</h2>

<ul>
    <li>Tennis</li>
    <li>Badminton</li>
    <li>Swimming</li>
</ul>

<br /><br /><br />

<a href="~/Home/AAA">AAA</a><br />
<a href="~/Home/BBB">BBB</a><br />
<a href="~/Home/Index">Index</a>
