@model WebApplication1.Models.IconTitle

<div style="margin: 10px;">
  <h2 style="margin-left: 15px;">Key words</h2>

  <br />
  <button onclick="window.jonas.openModal('divKeyWord', 'New keyword', 800, 250)">Open modal</button>

  <div id="divKeyWord" style="display: none;">
    <table style="font-family: 'Times New Roman' !important; font-size: large !important; font-weight: bold !important; margin-top: 25px !important;">
      <tr>
        <td style="text-align: right !important;">Key phrase &nbsp;&nbsp;</td>
        <td><input id="inputKeyPhrase" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" style="width: 650px !important; margin-top: 7px !important;" /></td>
      </tr>
      <tr>
        <td style="text-align: right !important;">Note&nbsp;&nbsp;</td>
        <td><input id="inputKeyNote" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" type="text" style="width: 650px !important; margin-top: 7px !important;" /></td>
      </tr>
      <tr>
        <td><button style="font-family: Arial !important; font-size: medium !important; font-weight: bolder !important;" onclick="alert('Key=' + $('#inputKeyPhrase').val() + ', Note=' + $('#inputKeyNote').val() );">Save</button></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>

<div id="abcd"></div>

  <script>
  $(document).ready(function () {
    window.jonas.checkIconAndSetTitle('@Model.Icon', '@Model.Title');
  });
  </script>
