@model CAST.Models.Job.Job_NoteDtoShop

@{
    ViewBag.Title = "JobNotes";
}

<h2>JobNotes</h2>
<table id="tbJobNotes"></table>
<div id ="pager"></div>

<link href="~/Content/css/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Script/jqGrid/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.0.min.js"></script>
<script src="~/Scripts/jquery-ui-1.9.0.min.js"></script>
@*<script src="~/Scripts/i18n/grid.locale-en.js"></script>*@
<script src="~/Scripts/jquery.jqGrid.min.js"></script>
<script src="~/Scripts/JobNotes.js"></script>
   