
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello hello</title>
</head>
<body>
  <h1>This is text from Layout</h1>
  @RenderBody()
  @RenderSection("Blomma", false)
  @RenderSection("Trad", false)
</body>
</html>
