<div class="padding-around fill-color-white border-around border-color-blue" id="notification-user-change-password-failure" title="Change password">
    <div class="margin-top error text-align-center">
        Incorrect password format! You don't get any more attempts now. You will be disabled from the system. Contact your Line Manager.
    </div>
    <div class="text-align-center margin-top margin-bottom">
         <a href="/" class="btn-argos span1">Ok</a>
    </div>
</div>
