<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CAST.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
    <section name="web.optimization" type="Web.Optimization.Configuration.OptimizationSection" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="SupportGuideUrl" value="http://www.argos-support.co.uk/guides/guide/" />
    <add key="BookRepairSerialNumberRequiredForRepairIDs" value="501" /> <!--Comma separated list with RepairIDs where serial number is required when book a repair. For example 345,445,555 (OBS! Do not include any blanks between the repairIDs) -->
    <!--<add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />-->
    
  </appSettings>
  <connectionStrings>
    <!--<add name="Database" connectionString="server=fixdevsql;Initial Catalog=CAST_Demo;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="Database" connectionString="server=109.69.232.227,1433;Initial Catalog=CAST_ClientDemo;User ID=sa;password=Ukraine344;" providerName="System.Data.SqlClient" />
    <!--  <add name="Database" connectionString="server=109.69.232.227,1433;Initial Catalog=cast;User ID=sa;password=Ukraine344;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.web>
    <!-- <sessionState mode="SQLServer" sqlConnectionString="server=109.69.232.227,1433;User ID=sa;password=Ukraine344;" timeout="60" />
    <sessionState mode="SQLServer" sqlConnectionString="server=fixdevsql;Integrated Security=True" timeout="60" />-->
    <sessionState mode="SQLServer" sqlConnectionString="server=fzserver;User ID=sa;password=Ping68pong;" timeout="60" />
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Stimulsoft.Base, Version=2014.1.1900.0, Culture=neutral, PublicKeyToken=ebe6666cba19647a" />
        <add assembly="Stimulsoft.Report, Version=2014.1.1900.0, Culture=neutral, PublicKeyToken=ebe6666cba19647a" />
        <add assembly="Stimulsoft.Report.Mvc, Version=2014.1.1900.0, Culture=neutral, PublicKeyToken=ebe6666cba19647a" />
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="300" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <roleManager enabled="true" defaultProvider="CASTRoleProvider">
      <providers>
        <clear />
        <add name="CASTRoleProvider" type="CAST.Providers.CASTRoleProvider" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="10.00:00:00" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <directoryBrowse enabled="true" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <!--<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />-->
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CAST.Properties.Settings>
      <setting name="JobSearchPageSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ProductSearchPageSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="UserSearchPageSize" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ReadyForCollectionTrackingStatus" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="NewJobEmailBody" serializeAs="String">
        <value>
          &lt;span&gt;ARGOS AFTER SALES&lt;/span&gt;

          &lt;p&gt;Dear {Title} {FirstName} {Surname}&lt;/p&gt;

          &lt;p&gt;REPAIR REFERENCE {RepairReference}&lt;/p&gt;

          &lt;p&gt;Thank you for your recent visit to Argos. We are sorry that you have been experiencing problems with your product.&lt;/p&gt;

          &lt;p&gt;Your product will be sent to one of our trusted repair agents who will investigate the problem. They will either repair the product or, if that's not possible, give you a replacement or a refund.&lt;/p&gt;

          &lt;p&gt;We will contact you as soon as your product is ready for you to collect.&lt;/p&gt;

          &lt;p&gt;If you need any further help, please contact us either by email at &lt;a href="mailto:order.enquiries@argos.co.uk"&gt;order.enquiries@argos.co.uk&lt;/a&gt; stating REPAIR in the subject heading or by calling 0845 640 2020.&lt;/p&gt;

          &lt;p&gt;Yours sincerely&lt;/p&gt;

          &lt;p&gt;Argos Returns &amp; After Sales Team&lt;/p&gt;</value>
      </setting>
      <setting name="NewJobEmailSubject" serializeAs="String">
        <value>Repair notification</value>
      </setting>
      <setting name="JobReadyEmailSubject" serializeAs="String">
        <value>Argos Repair Reference {RepairReference}</value>
      </setting>
      <setting name="JobReadyEmailBody" serializeAs="String">
        <value>
          &lt;span&gt;ARGOS AFTER SALES&lt;/span&gt;

          &lt;br&gt;

          &lt;p&gt;Dear {Title} {FirstName} {Surname}&lt;/p&gt;

          &lt;p&gt;&lt;b&gt;REPAIR REFERENCE {RepairReference}&lt;/b&gt;&lt;/p&gt;

          &lt;p&gt;Your product is now ready to collect at the following store:&lt;/p&gt;

          &lt;p&gt;{StoreAddress}&lt;/p&gt;

          &lt;p&gt;When you collect your product you’ll be provided with a repair note from our repair agents letting you know what they have done and details of the issue.&lt;/p&gt;

          &lt;p&gt;We’re sorry for the issues you had with your product and hope we’ve been able to resolve them to your satisfaction.&lt;/p&gt;

          &lt;p&gt;If you need any further help, please contact us either by email at &lt;a href="mailto:order.enquiries@argos.co.uk"&gt;order.enquiries@argos.co.uk&lt;/a&gt; stating REPAIR in the subject heading or by calling 0845 640 2020.&lt;/p&gt;

          &lt;p&gt;Yours sincerely&lt;/p&gt;

          &lt;br/&gt;
          &lt;p&gt;Argos After Sales &amp; Returns Team&lt;/p&gt;
        </value>
      </setting>
      <setting name="ProductImageUrlTemplate" serializeAs="String">
        <value>http://storeserver:8100/storeassistant/mmdb/{0}</value>
      </setting>
      <setting name="ArgosSparesLink" serializeAs="String">
        <value>http://www.argosspares.co.uk</value>
      </setting>
      <setting name="FreeSparesEnquiryURL" serializeAs="String">
        <value>https://secure.clickspares.co.uk/homeretail/</value>
      </setting>
      <setting name="ProductEmailSubject" serializeAs="String">
        <value>Argos After Sales Information</value>
      </setting>
      <setting name="SmsServiceLogin" serializeAs="String">
        <value>Argos</value>
      </setting>
      <setting name="SmsServicepassword" serializeAs="String">
        <value>4rewKK33q</value>
      </setting>
      <setting name="SmsServiceFrom" serializeAs="String">
        <value>CAST</value>
      </setting>
      <setting name="SmsServiceReturnEmail" serializeAs="String">
        <value>argos@fixzone.com</value>
      </setting>
      <setting name="LevelsOfAccess" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>1 - Manager</string>
            <string>2 - Store colleague</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="StartValueForAccessLevel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CustomerContactedTrackingStatus" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="JobClosedTrackingStatus" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="DevPort" serializeAs="String">
        <value>8888</value>
      </setting>
      <setting name="TestPort" serializeAs="String">
        <value>8080</value>
      </setting>
      <setting name="CourierIdDX" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SmsServiceLoginDEV" serializeAs="String">
        <value>ArgosDEV</value>
      </setting>
      <setting name="SmsServiceLoginUAT" serializeAs="String">
        <value>ArgosUAT</value>
      </setting>
      <setting name="SmsServicepasswordDEV" serializeAs="String">
        <value>4rewKK33q</value>
      </setting>
      <setting name="SmsServicepasswordUAT" serializeAs="String">
        <value>4rewKK33q</value>
      </setting>
      <setting name="SmsServiceFromDEV" serializeAs="String">
        <value>CAST</value>
      </setting>
      <setting name="SmsServiceFromUAT" serializeAs="String">
        <value>CAST</value>
      </setting>
      <setting name="SmsServiceReturnEmailDEV" serializeAs="String">
        <value>argos@fixzone.com</value>
      </setting>
      <setting name="SmsServiceReturnEmailUAT" serializeAs="String">
        <value>argos@fixzone.com</value>
      </setting>
      <setting name="EmailTrackRangeAddresses" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>ITsuppprt@thedx.co.uk </string>
            <string>support@fixzone.com </string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="EmailTrackRangeSender" serializeAs="String">
        <value> noreply@argos.co.uk</value>
      </setting>
      <setting name="EmailTrackRangeBody" serializeAs="String">
        <value> Argos (HRG) require a new range of DX tracking numbers for account number 156220.</value>
      </setting>
      <setting name="EmailTrackRangeSubject" serializeAs="String">
        <value>Automated Request for new DX tracking range</value>
      </setting>
      <setting name="TrackingNumCountPreNotify" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="TrackingNumCountNotify" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="NewJobJewelleryEmailBody" serializeAs="String">
        <value>
          &lt;span&gt;ARGOS AFTER SALES&lt;/span&gt;

          &lt;p&gt;Dear {Title} {FirstName} {Surname}&lt;/p&gt;

          &lt;p&gt;REPAIR REFERENCE {RepairReference}&lt;/p&gt;

         &lt;p&gt;Thank you for using the Jewellery and Watch Care Centre. We are sorry that you have been experiencing problems with your product.&lt;/p&gt;

         &lt;p&gt;Your product will be sent to one of our trusted repair agents and we will contact you again when it is ready to collect..&lt;/p&gt;

         &lt;p&gt;If you need any further help, please contact us either by email at order.enquiries@argos.co.uk stating REPAIR in the subject heading or by calling 0845 640 2020.&lt;/p&gt;

         &lt;p&gt;Yours sincerely&lt;/p&gt;

         &lt;p&gt;Argos Returns &amp; After Sales Team&lt;/p&gt;</value>
      </setting>
      <setting name="EmailTrackRangeAddressesTest" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Terry.Deadman@thedx.co.uk</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="AdditionalServicesGraphics" serializeAs="String">
        <value>/Content/AdditionalServicesGraphics/</value>
      </setting>
      <setting name="RegisterJobSubject" serializeAs="String">
        <value>Register Job Notification</value>
      </setting>
      <setting name="GoogleMap" serializeAs="String">
        <value>https://maps.googleapis.com/maps/api/staticmap?size=800x800&amp;maptype=roadmap&amp;markers=color:blue%7C%7Clabel:S%7C{StorePostCode}&amp;markers=color:red%7Clabel:C%7C{CustomerPostCode}&amp;key=AIzaSyCAuHcwsLnxn1AQigm7OaVusPtMmcFO6FM</value>
      </setting>
      <setting name="ProductEmailBody" serializeAs="String">
        <value>The after sales contacts for your product is listed below: &lt;br&gt;
Argos Catalogue Number: {CatalogueNum} &lt;br&gt;
Product Code: {ProductCode} &lt;br&gt;
Product Description {ProductDescr} &lt;br&gt;

Product Support Contact: &lt;br&gt;
{SupportName} &lt;br&gt;
Telephone: {SupportTelephone} &lt;br&gt;
Email: {SupportEmail} &lt;br&gt;
Web: {SupportWeb} &lt;br&gt;
{SupportNotes} &lt;br&gt;

Repair Contact:  &lt;br&gt;
{RepairName} &lt;br&gt;
Telephone: {RepairTelephone} &lt;br&gt;
Email: {RepairEmail} &lt;br&gt;
Web: {RepairWeb} &lt;br&gt;
{RepairNotes} &lt;br&gt;
{ProductSupportSite}&lt;br&gt;

If you need any further help, please contact us either by email at order.enquiries@argos.co.uk stating REPAIR in the subject heading or by calling 0845 640 2020. &lt;br&gt;
Yours sincerely &lt;br&gt;
Argos After Sales &amp; Returns Team</value>
      </setting>
      <setting name="ProductSmsBody" serializeAs="String">
        <value>Argos After Sales Support: {SupportName} {SupportTelephone} {SupportEmail} {SupportWeb} {SupportNotes} {ProductSupportSite} .</value>
      </setting>
      <setting name="FreeSparesUrl" serializeAs="String">
        <value>
          https://secure.clickspares.co.uk/homeretail/?search={CatalogueNum}&amp;src=CAST&amp;em={empId}&amp;st={storeId}          
        </value>
      </setting>
      <setting name="SkylineNoiseContactinfo" serializeAs="String">
        <value>&lt;span style='color:red;font-weight:bold'&gt; The automatic booking process has failed. This is a temporary and the IT department have been informed. Please call Noise directly on 0800 123456 to book the customer's repair.&lt;/span&gt;
</value>
      </setting>
      <setting name="JobReadySmsText" serializeAs="String">
        <value>
          Good news - it's time to pick up your item, REPAIR REFERENCE {RepairReference}. Please collect it within 1 - 7 days from {ShortStoreName}. (P.S. We can't accept replies to this message.)
        </value>
      </setting>
      <setting name="NewJobJewellerySmsText" serializeAs="String">
        <value>
          ARGOS REFERENCE {RepairReference}
          Thank you for using the Jewellery and Watch Care Centre.
          We will contact you again when it is ready to collect.
          Argos After Sales &amp;amp; Returns Team.
        </value>
      </setting>
      <setting name="RegisterJobSms" serializeAs="String">
        <value>
          Just to say, we’re sorry about the problem with your item, REPAIR REFERENCE {RepairReference}. Closest Store: {ClosestStoreAddress} . (P.S. We can’t accept replies to this message.)
        </value>
      </setting>
      <setting name="RegisterJobEmailBody" serializeAs="String">
        <value>
          &lt;table border="2"&gt;
          &lt;tr&gt;
          &lt;td&gt;Ref Number:&lt;/td&gt;
          &lt;td&gt;{RepairReference}&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
          &lt;td&gt;Customer Name:&lt;/td&gt;
          &lt;td&gt;{Title} {FirstName} {Surname}&lt;/td&gt;

          &lt;/tr&gt;
          &lt;tr&gt;
          &lt;td colspan = "2"&gt;&lt;img id="googleMap" src="{googleMapSrc}"/&gt;&lt;/td&gt;
          &lt;/tr&gt;

          &lt;tr&gt;
          &lt;td&gt;Customer:&lt;/td&gt;
          &lt;td&gt;{CustomerAddress} {CustomerPostCode}&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
          &lt;td&gt;Closest Store:&lt;/td&gt;
          &lt;td&gt;{ClosestStoreAddress}&lt;/td&gt;
          &lt;/tr&gt;

          &lt;/table&gt;
        </value>
      </setting>
      <setting name="NewJobSmsText" serializeAs="String">
        <value>
          Just to say, we're sorry about the problem with your item, REPAIR REFERENCE {RepairReference}. We've arranged a repair and will text you again as soon as it’s ready to collect. (P.S. We can't accept replies to this message.)
        </value>
      </setting>
      <setting name="fzFMIPCredUserName" serializeAs="String">
        <value>ArgosCast</value>
      </setting>
      <setting name="fzFMIPCredPassWord" serializeAs="String">
        <value>EfXj82p?NB</value>
      </setting>
    </CAST.Properties.Settings>
  </applicationSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="noreply@argos.co.uk">
        <network host="smtp.central24.co.uk" port="25" />
      </smtp>
    </mailSettings>
  </system.net>
  <log4net debug="false">
    <appender name="GeneralLog" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/general.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m %l %ndc %n %n %exception %n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="DEBUG" />
        <levelMax value="WARN" />
      </filter>
    </appender>
    <appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/errors.txt" />
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="Date: %d{yyyy-MM-dd HH:mm:ss.fff} | Type: %-5p | %m Exception: %exception Stream Name: %t  %n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="ERROR" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    <root>
      <level value="ANY" />
      <appender-ref ref="GeneralLog" />
      <appender-ref ref="ErrorLog" />
    </root>
  </log4net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="IfzSmsbinding" closeTimeout="00:01:00" openTimeout="00:01:00"
          receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAddress" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="IFzOnlineBookingbinding" />
        <binding name="BasicHttpBinding_fmipService" />
        
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IAddress" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
          textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.fieldengineer.co.uk/FixSMS2/fzSMSServer.exe/soap/IfzSms"
        binding="basicHttpBinding" bindingConfiguration="IfzSmsbinding"
        contract="SmsService.IfzSms" name="IfzSmsPort" />
      <endpoint address="http://yura-pc:8080/PostcodeLookupService.Address.svc"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IAddress"
        contract="AddressService.IAddress" name="WSHttpBinding_IAddress">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="http://hrg.fieldengineer.co.uk:90/PostcodeLookupService.Address.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAddress"
        contract="PostcodeService.IAddress" name="BasicHttpBinding_IAddress" />
      <endpoint address="http://litmus.fieldengineer.co.uk/FZOnlineBooking/FZOnlineBooking.dll/soap/IFzOnlineBooking"
        binding="basicHttpBinding" bindingConfiguration="IFzOnlineBookingbinding"
        contract="FZOnlineBooking.IFzOnlineBooking" name="IFzOnlineBookingPort" />
      <endpoint address="http://fmip.amsys.repair/fmipActivation.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_fmipService"
        contract="fzFMIPActivation.fmipService" name="BasicHttpBinding_fmipService" />
      </client>
  </system.serviceModel>
  <web.optimization>
    <bundles>
      <bundle virtualPath="~/Content/sample" transform="System.Web.Optimization.JsMinify, System.Web.Optimization">
        <content>
          <!-- Add some single files -->
          <!-- <add path="~/Scripts/validation.js" /> -->
          <!-- <add path="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js" /> -->
          <!-- Add a directory (and its subdirectories) -->
          <!-- <add path="~/Scripts/Plugins" searchPattern="*.js" searchSubdirectories="true" /> -->
        </content>
        <!--
        If you want to apply multiple transformations, 
        you should remove the "transform" attribute from the bundle. 
        -->
        <!--
        <transformations>
          <add type="Web.Optimization.Bundles.CoffeeScript.CoffeeScriptTransform, Web.Optimization.Bundles.CoffeeScript" />
          <add type="System.Web.Optimization.JsMinify, System.Web.Optimization" />
        </transformations>
        -->
      </bundle>
    </bundles>
  </web.optimization>
</configuration>