#jonasApp .hijumpTopMenu.header .navbar-inner {
    background-color: #e5e5e5 !important;
}

#jonasApp .portlet.box .portlet-title {
    background-color: #bc392b !important;
}

#jonasApp .portlet.box {    
    background-color: #bc392b !important;
}

#jonasApp .form-section {
    border-bottom: 1px solid #bc392b;
}

/****** Left menu */
#jonasApp .hijumpSidebarMenu.page-sidebar > ul > li.active > a {
    background-color: #bc392b !important;
}