
@{
    ViewBag.Title = "SignIn";
    Layout = null;
}


<h2>SignIn</h2>

<form action="~/Account/SignIn" method="post">
    <input name="name" /><br />
    <input type="submit" value="submit"/>
</form>

