/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ID]
      ,[DateCreated]
      ,[SaediFromID]
      ,[ClientRef]
      ,[Success]
      ,[ErrorMessage]
      ,[RmaDocumentUrl]
      ,[RmaId]
      ,[ShipmentStatus]
      ,[ValidationErrorList]
      ,[ValidationStatus]
      ,[INPUT_AepBookinRef]
      ,[INPUT_ClaimType]
      ,[INPUT_clientReference]
      ,[INPUT_externalMatId]
      ,[INPUT_faultCode]
      ,[INPUT_GpToolRmaId]
      ,[INPUT_modelID]
      ,[INPUT_PartNumber]
      ,[INPUT_partNumberReceived]
      ,[INPUT_Remark]
      ,[INPUT_repairNumber]
      ,[INPUT_returnQuantity]
      ,[INPUT_serialNumber]
      ,[INPUT_sonNumber]
      ,[CollectionDate]
      ,[Collectionref]
      ,[CollectionAddedOn]
  FROM [SAEDI_PRD].[dbo].[SONYRMA]