<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/jquery-ui.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/bootstrap.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/bootstrap-responsive.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/style.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/style-responsive.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/default.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/dls.hijump.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/dls.hiJumpTheme.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/HarmonyTheme.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/Red.css" rel="stylesheet" />
  <script src="http://www.Nr1Web1.com/CreateNavFromHarmony/jquery-1.12.4.js"></script>
  <script src="http://www.Nr1Web1.com/CreateNavFromHarmony/jquery-ui.js"></script>
  <script src="http://www.Nr1Web1.com/CreateNavFromHarmony/bootstrap.min.js"></script>
  <script src="http://www.Nr1Web1.com/CreateNavFromHarmony/app.js"></script>
  <script src="http://www.Nr1Web1.com/CreateNavFromHarmony/jonas1.js"></script>

  <style>
    .defaultTableStyle {
      font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
      border-collapse: collapse !important;
      width: 100% !important;
    }

    .defaultTableStyle td, .defaultTableStyle th {
      border: 1px solid #ddd !important;
      padding: 8px !important;
    }

    .defaultTableStyle tr:nth-child(even) {
      background-color: #f2f2f2 !important;
    }

    .defaultTableStyle tr:nth-child(odd) {
      background-color: #ffffb3 !important;
    }

    .defaultTableStyle th {
      padding-top: 12px !important;
      padding-bottom: 12px !important;
      text-align: left !important;
      background-color: #4CAF50 !important;
      color: white !important;
    }

    textarea, textarea:focus {
      border: 1px solid black;
      font-family: 'Times New Roman';
      font-size: large;
      margin: 20px;
      font-weight: 500;
    }

    .btnDefaultCss {
      margin-left: 20px;
      margin-top: 20px;
      font-family: Arial;
      font-size: larger;
      font-weight: 700;
      font-size: small;
      background-color: green;
      color: lightcyan;
    }

    input[type=checkbox] {
      transform: scale(1.15) !important;
    }

    input[type=radio] {
      transform: scale(1.15) !important;
    }

    a.aBlue:link, a.aBlue:visited, a.aBlue:hover, a.aBlue:active {
      color: blue !important;
      text-decoration: none !important;
    }

    a.aBlue:hover {
      color: deeppink !important;
      text-decoration: none !important;
    }

    a.aGreen:link, a.aGreen:visited, a.aGreen:active {
      color: green !important;
      text-decoration: none !important;
    }

    a.aGreen:hover {
      color: deeppink !important;
      text-decoration: none !important;
    }
  </style>

  <script>
    window.jonas.checkIconAndSetTitle = function (newIcon, newTitle) {
      if (!$("#iIcon").hasClass('fa-' + newIcon)) {
        $("#iIcon").removeClass('fa-' + window.jonas.icon);  //Remove old icon
        $("#iIcon").addClass('fa-' + newIcon); //Add new icon
        window.jonas.icon = newIcon; //Update window.jonas.icon to new icon
      }
      $("#spanTitle").text(newTitle);
    }

    window.jonas.handlePreviousCurrentNextResource = function (previous, current, next) {

      if (($("#spanResourcePrevious").css("display") === "none") && (current !== 0)) {
        $("#spanResourcePrevious").css("display", "inline");
        $("#spanResourceCurrent").css("display", "inline");
        $("#spanResourceNext").css("display", "inline");
      }
      else if (($("#spanResourcePrevious").css("display") === "inline") && (current === 0)) {
        $("#spanResourcePrevious").css("display", "none");
        $("#spanResourceCurrent").css("display", "none");
        $("#spanResourceNext").css("display", "none");
      }

      if (current !== 0) {
        $("#spanResourcePrevious").text("(R" + previous);
        $("#spanResourceCurrent").text("R" + current);
        $("#spanResourceNext").text("R" + next + ")");
      }

      window.jonas.previousResource = previous;
      window.jonas.currentResource = current;
      window.jonas.nextResource = next;
    }

    window.jonas.setTabNames = function (tab1, tab2, tab3, tab4, tab5, tab6, tab7, tab8, tab9, tab10) {
      $("#aTab1").text(tab1);
      $("#aTab2").text(tab2);
      $("#aTab3").text(tab3);
      $("#aTab4").text(tab4);
      $("#aTab5").text(tab5);
      $("#aTab6").text(tab6);
      $("#aTab7").text(tab7);
      $("#aTab8").text(tab8);
      $("#aTab9").text(tab9);
      $("#aTab10").text(tab10);
    }

    window.jonas.updateKeyWordState = function (disabled, color) {
      $("#btnSaveKeyWord").prop("disabled", disabled);
      $("#btnSaveKeyWord").css("background-color", color);
      $("#btnCancelKeyWord").prop("disabled", disabled);
      $("#btnCancelKeyWord").css("background-color", color);
      $(".ui-dialog-titlebar-close").prop("disabled", !disabled);

      if (disabled) {
        $("#inputKeyWordPhrase").on("change", function () { window.jonas.updateKeyWordState(false, "red"); });
        $("#inputKeyWordNote").on("change", function () { window.jonas.updateKeyWordState(false, "red"); });
      }
      else {
        $("#inputKeyWordPhrase").off("change");
        $("#inputKeyWordNote").off("change");
      }
    }

    window.jonas.updateResourceState = function (disabled, color) {
      var i;

      $("#btnSaveResource").prop("disabled", disabled);
      $("#btnSaveResource").css("background-color", color);
      $("#btnCancelResource").prop("disabled", disabled);
      $("#btnCancelResource").css("background-color", color);
      $(".ui-dialog-titlebar-close").prop("disabled", !disabled);

      if (disabled) {
        $("#inputResourceTitle").on("change", function () { window.jonas.updateResourceState(false, "red"); });

        for (i = 1; i <= window.jonas.numberOfKeyWords; i++) {
          $("#keyWord" + i).on("change", function () { window.jonas.updateResourceState(false, "red"); });
        }

        $("#inputResourceNote").on("change", function () { window.jonas.updateResourceState(false, "red"); });
        $("#inputResourcePrevious").on("change", function () { window.jonas.updateResourceState(false, "red"); });
        $("#inputResourceNext").on("change", function () { window.jonas.updateResourceState(false, "red"); });

        if (window.jonas.modalState === "ThumbUpLocation") {
          $("#inputResourceThumbUpLocation").on("change", function () { window.jonas.updateResourceState(false, "red"); });
        }
        else if (window.jonas.modalState === "Html") {
          $("#inputResourceHtmlFile").on("change", function () { window.jonas.updateResourceState(false, "red"); });
        }
        else if (window.jonas.modalState === "Self") {
          $("#textareaResourceFiles").on("change", function () { window.jonas.updateResourceState(false, "red"); });
          $("#textareaResourceLinks").on("change", function () { window.jonas.updateResourceState(false, "red"); });
        }
      }
      else {
        $("#inputResourceTitle").off("change");

        for (i = 1; i <= window.jonas.numberOfKeyWords; i++) {
          $("#keyWord" + i).off("change");
        }

        $("#inputResourceNote").off("change");
        $("#inputResourcePrevious").off("change");
        $("#inputResourceNext").off("change");

        if (window.jonas.modalState === "ThumbUpLocation") {
          $("#inputResourceThumbUpLocation").off("change");
        }
        else if (window.jonas.modalState === "Html") {
          $("#inputResourceHtmlFile").off("change");
        }
        else if (window.jonas.modalState === "Self") {
          $("#textareaResourceFiles").off("change");
          $("#textareaResourceLinks").off("change");
        }
      }
    }

    window.jonas.registerNewTextAreaDefaultLocation = function (width, height, text) {
      var btnSave, btnCancel, textarea;

      btnSave = $("#btnDefaultLocationSave");
      btnCancel = $("#btnDefaultLocationCancel");
      textarea = $("#textareaDefaultLocation");

      btnSave.prop("disabled", true);
      btnSave.css("background-color", "green");
      btnCancel.prop("disabled", true);
      btnCancel.css("background-color", "green");
    
      textarea.css("width", width);
      textarea.css("height", height);
      textarea.val(text);

      window.jonas.textareaDefaultLocationWidth = width;
      window.jonas.textareaDefaultLocationHeight = height;

      textarea.on("change", window.jonas.textareaDefaultLocationChange);
      textarea.on("mouseup", window.jonas.textareaDefaultLocationResize);
      window.jonas.eventHandlerTextareaDefaultLocation = 1;
    }

    window.jonas.handleChangeLocation = function (menu, sub1, sub2, tab) {

      if ((window.jonas.menu > 0) && (menu !== window.jonas.menu) && (window.jonas.page !== 0)) {
        $("#liMenu" + window.jonas.menu).removeClass("open");
        $("#liMenu" + window.jonas.menu).removeClass("active");
        $("#spanMenu" + window.jonas.menu).removeClass("open");
        $("#ulMenu" + window.jonas.menu).css("display", "none");
      }
      else if ((window.jonas.menu === 0) && (menu !== window.jonas.menu) && (window.jonas.page !== 0)) {
        $("#liDashboard").removeClass("active");
      }

      if ((((window.jonas.menu > 0) && (menu !== window.jonas.menu)) || ((window.jonas.sub1 > 0) && (sub1 !== window.jonas.sub1))) && (window.jonas.page !== 0)) {
        $("#liMenu" + window.jonas.menu + "Sub" + window.jonas.sub1).removeClass("open");
        $("#liMenu" + window.jonas.menu + "Sub" + window.jonas.sub1).removeClass("active");
        $("#spanMenu" + window.jonas.menu + "Sub" + window.jonas.sub1).removeClass("open");
        $("#ulMenu" + window.jonas.menu + "Sub" + window.jonas.sub1).css("display", "none");
      }

      if ((menu > 0) && (menu !== window.jonas.menu)) {
        $("#liMenu" + menu).addClass("open");
        $("#liMenu" + menu).addClass("active");
        $("#spanMenu" + menu).addClass("open");
        $("#ulMenu" + menu).css("display", "block");
      }
      else if (menu === 0) {
        $("#liDashboard").addClass("active");
      }

      if (((menu > 0) && (menu !== window.jonas.menu)) || ((sub1 > 0) && (sub1 !== window.jonas.sub1))) {
        $("#liMenu" + menu + "Sub" + sub1).addClass("open");
        $("#liMenu" + menu + "Sub" + sub1).addClass("active");
        $("#spanMenu" + menu + "Sub" + sub1).addClass("open");
        $("#ulMenu" + menu + "Sub" + sub1).css("display", "block");
      }

      if ((window.jonas.page !== 0) && (window.jonas.menu > 0))
        $("#liMenu" + window.jonas.menu + "Sub" + window.jonas.sub1 + "Sub" + window.jonas.sub2).removeClass("active");

      if (menu > 0) {
        $("#liMenu" + menu + "Sub" + sub1 + "Sub" + sub2).addClass("active");
      }

      if ((window.jonas.tab > 0) && (tab !== window.jonas.tab)) {
        $("#liTab" + window.jonas.tab).removeClass("active");
      }

      if (!$("#liTab" + tab).hasClass("active")) {
        $("#liTab" + tab).addClass("active");
      }
    }

    window.jonas.updateCssDisplayForContentDivs = function (newLocation) {
      var defaultLocation = $("#contentDivDefaultLocation");
      var nonDefaultLocation = $("#contentDivNonDefaultLocation");
      var searchResultResources = $("#contentDivSearchResultResources");
      var renderOfResource = $("#contentDivRenderOfResource");
      var errorMessage = $("#contentDivErrorMessage");

      if ((newLocation !== "defaultLocation") && (defaultLocation.css("display") !== "none"))
        defaultLocation.css("display", "none");

      if ((newLocation === "defaultLocation") && (defaultLocation.css("display") !== "block"))
        defaultLocation.css("display", "block");

      if ((newLocation !== "nonDefaultLocation") && (nonDefaultLocation.css("display") !== "none"))
        nonDefaultLocation.css("display", "none");

      if ((newLocation === "nonDefaultLocation") && (nonDefaultLocation.css("display") !== "block"))
        nonDefaultLocation.css("display", "block");

      if ((newLocation !== "searchResultResources") && (searchResultResources.css("display") !== "none"))
        searchResultResources.css("display", "none");

      if ((newLocation === "searchResultResources") && (searchResultResources.css("display") !== "block"))
        searchResultResources.css("display", "block");

      if ((newLocation !== "renderOfResource") && (renderOfResource.css("display") !== "none"))
        renderOfResource.css("display", "none");

      if ((newLocation === "renderOfResource") && (renderOfResource.css("display") !== "block"))
        renderOfResource.css("display", "block");

      if ((newLocation !== "errorMessage") && (errorMessage.css("display") !== "none"))
        errorMessage.css("display", "none");

      if ((newLocation === "errorMessage") && (errorMessage.css("display") !== "block"))
        errorMessage.css("display", "block");

      window.jonas.location = newLocation;
    }

    window.jonas.textareaDefaultLocationChange = function () {
      var textarea;

      textarea = $("#textareaDefaultLocation");
      textarea.off("change");
      textarea.off("mouseup");
      window.jonas.eventHandlerTextareaDefaultLocation = 0;
      window.jonas.setBackgroundRedAndSetDisabledToFalseForSaveAndCancelButtons($("#btnDefaultLocationSave"), $("#btnDefaultLocationCancel"));
    }

    window.jonas.textareaDefaultLocationResize = function () {
      var textarea, width, height;

      textarea = $("#textareaDefaultLocation");
      width = textarea.css("width");
      height = textarea.css("height");

      if (width !== window.jonas.textareaDefaultLocationWidth || height !== window.jonas.textareaDefaultLocationHeight)
        window.jonas.textareaDefaultLocationChange();
    }

    window.jonas.handleTextAreaDefaultLocationSave = function () {
      var textarea, width, height, text;

      textarea = $("#textareaDefaultLocation");
      width = textarea.css("width");
      height = textarea.css("height");
      text = textarea.val().trim();

      var locationExtension = {
        page: window.jonas.page,
        menu: window.jonas.menu,
        sub1: window.jonas.sub1,
        sub2: window.jonas.sub2,
        tab: window.jonas.tab,
        width: width,
        height: height,
        text: text
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/SaveTextArea",
        data: locationExtension,
        error: function (data) {
          $("#contentDivErrorMessage").html(data.responseText);
          window.jonas.updateCssDisplayForContentDivs("errorMessage");
        },
        method: "post",
        success: function (data) {
          if ((typeof data === "string") && (data.length >= 5) && (data.substring(0, 5) === "ERROR")) {
            alert(data);
            return;
          }
          else {
            alert("Textarea saved");
            window.jonas.registerNewTextAreaDefaultLocation(width, height, text);
          }
        }
      });
    }

    window.jonas.handleTextAreaDefaultLocationCancel = function () {
      var location;

      location = {
        page: window.jonas.page,
        menu: window.jonas.menu,
        sub1: window.jonas.sub1,
        sub2: window.jonas.sub2,
        tab: window.jonas.tab,
        newLocationByChangeOfTab: false
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/NewLocation",
        data: location,
        error: function (data) {
          $("#contentDivErrorMessage").html(data.responseText);
          window.jonas.updateCssDisplayForContentDivs("errorMessage");
        },
        method: "post",
        success: function (data) {
          if ((typeof data === "string") && (data.length >= 5) && (data.substring(0, 5) === "ERROR")) {
            alert(data);
            return;
          }
          else {
            window.jonas.registerNewTextAreaDefaultLocation(data.Width, data.Height, data.Text);
          }
        }
      });
    }

    window.jonas.tabChanged = function (tab) {
      if (!$("#btnDefaultLocationSave").prop("disabled")) {
        alert("WATCH OUT!! textarea is not saved!!!");
        return;
      }

      if (!$("#btnRenderOfHtmlResourceSave").prop("disabled")) {
        alert("WATCH OUT!! textarea is not saved!!!");
        return;
      }

      window.jonas.newLocation(window.jonas.page, window.jonas.menu, window.jonas.sub1, window.jonas.sub2, tab, true);
    }

    window.jonas.addCheckboxes = function (divCheckboxes, numberOfCheckboxesInOneRow, prefix, arrayWithCheckboxData) {
      var n, a, i, j, index, total, str;

      total = arrayWithCheckboxData.length;
      n = total;

      while ((n % numberOfCheckboxesInOneRow) != 0)
        n++;

      a = n / numberOfCheckboxesInOneRow;

      for (i = 0; i < a; i++) {
        index = numberOfCheckboxesInOneRow * i;

        str = "<div style='font-size: medium !important;'><input id='" + prefix + arrayWithCheckboxData[index].Id + "' type='checkbox' style='margin-bottom: 8px;' />&nbsp;" + arrayWithCheckboxData[index].Text + "&nbsp;&nbsp;&nbsp;&nbsp;";

        for (j = 1; j <= (numberOfCheckboxesInOneRow - 1); j++) {
          if ((index + j) < total) {
            str += "<input id='" + prefix + arrayWithCheckboxData[index + j].Id + "' type='checkbox' style='margin-bottom: 8px;' />&nbsp;" + arrayWithCheckboxData[index + j].Text + "&nbsp;&nbsp;&nbsp;&nbsp;";
          }
          else
            break;
        }

        str += "</div>"

        divCheckboxes.append(str);
      }
    }

    window.jonas.addRadiobuttons = function (divRadiobuttons, numberOfRadiobuttonsInOneRow, prefix, name, eventHandler, arrayWithRadiobuttonData) {
      var n, a, i, j, index, total, str;

      total = arrayWithRadiobuttonData.length;
      n = total;

      while ((n % numberOfRadiobuttonsInOneRow) != 0)
        n++;

      a = n / numberOfRadiobuttonsInOneRow;

      for (i = 0; i < a; i++) {
        index = numberOfRadiobuttonsInOneRow * i;

        str = "<div style='font-size: medium !important;'><input id='" + prefix + arrayWithRadiobuttonData[index].Id + "' type='radio' name='" + name + "' data-label='" + arrayWithRadiobuttonData[index].Text + "' style='margin-bottom: 8px;' " + eventHandler + " />&nbsp;" + arrayWithRadiobuttonData[index].Text + "&nbsp;&nbsp;&nbsp;&nbsp;";

        for (j = 1; j <= (numberOfRadiobuttonsInOneRow - 1); j++) {
          if ((index + j) < total) {
            str += "<input id='" + prefix + arrayWithRadiobuttonData[index + j].Id + "' type='radio' name='" + name + "' data-label='" + arrayWithRadiobuttonData[index + j].Text + "' style='margin-bottom: 8px;' " + eventHandler + " />&nbsp;" + arrayWithRadiobuttonData[index + j].Text + "&nbsp;&nbsp;&nbsp;&nbsp;";
          }
          else
            break;
        }

        str += "</div>"

        divRadiobuttons.append(str);
      }
    }

    window.jonas.updateCheckboxesCheckedStatus = function (divCheckboxes, lengthPrefix, arrayListWithKeyWordIds) {
      var v, i, id, index, checked;

      v = $("input[type='checkbox']", divCheckboxes);

      for (i = 0; i < v.length; i++) {
        id = $(v[i]).attr("id").substring(lengthPrefix);
        checked = $(v[i]).prop("checked");
        index = arrayListWithKeyWordIds.indexOf(id);

        if (checked && (index === -1))
          $(v[i]).prop("checked", false);
        else if (!checked && (index >= 0))
          $(v[i]).prop("checked", true);
      }
    }

    window.jonas.loadAndOpenResourceModal = function (data) {
      var str, resourcesType;

      window.jonas.addCheckboxes($("#divKeyWords"), 10, "keyWord", data.ArrayWithKeyWords);
      window.jonas.updateCheckboxesCheckedStatus($("#divKeyWords"), 7, data.Resource.KeyWords.split(","));

      window.jonas.numberOfKeyWords = data.ArrayWithKeyWords.length;

      if (data.Resource.ResourcesType === 0)
        resourcesType = "ThumbUpLocation";
      else if (data.Resource.ResourcesType === 1)
        resourcesType = "Html";
      else if (data.Resource.ResourcesType === 2)
        resourcesType = "Self";

      $("#inputResourceResourcesType").val(resourcesType);

      if (data.Resource.Id) {
        $("#inputResourceId").val(data.Resource.Id);
        $("#inputResourceCreated").val(data.Resource.Created);
        $("#inputResourceTitle").val(data.Resource.Title);
        $("#inputResourceNote").val(data.Resource.Note == null ? "" : data.Resource.Note);
        $("#inputResourcePrevious").val(data.Resource.PreviousResource === 0 ? "" : data.Resource.PreviousResource);
        $("#inputResourceNext").val(data.Resource.NextResource === 0 ? "" : data.Resource.NextResource);

        window.jonas.resourceTitle = data.Resource.Title;
        window.jonas.resourceKeyWords = data.Resource.KeyWords;
        window.jonas.resourceNote = data.Resource.Note == null ? "" : data.Resource.Note;
        window.jonas.resourcePrevious = data.Resource.PreviousResource;
        window.jonas.resourceNext = data.Resource.NextResource;
      }
      else {
        window.jonas.resourceTitle = "";
        window.jonas.resourceKeyWords = "";
        window.jonas.resourceNote = "";
        window.jonas.resourcePrevious = 0;
        window.jonas.resourceNext = 0;
        window.jonas.resourceThumbUpLocation = "";
        window.jonas.resourceHtmlFile = "";
        window.jonas.resourceFiles = "";
        window.jonas.resourceLinks = "";
      }

      if (resourcesType === "ThumbUpLocation") {
        $("#tableResources").append("<tr id=\"trResourceThumbUpLocation\"><td style=\"text-align: right !important;\" title=\"Thumb up location\">Location&nbsp;&nbsp;</td><td><input id=\"inputResourceThumbUpLocation\" autocomplete=\"off\" autocorrect=\"off\" autocapitalize=\"off\" spellcheck=\"false\" type=\"text\" style=\"width: 900px !important; margin-top: 7px !important;\" readonly=\"readonly\" value=\"" + "Page" + window.jonas.page + "Menu" + window.jonas.menu + "Sub" + window.jonas.sub1 + "Sub" + window.jonas.sub2 + "Tab" + window.jonas.tab + "\" /></td></tr>");

        if (data.Resource.Id) {
          $("#inputResourceThumbUpLocation").val(data.Resource.ThumbUpLocation == null ? "" : data.Resource.ThumbUpLocation);
          window.jonas.resourceThumbUpLocation = data.Resource.ThumbUpLocation == null ? "" : data.Resource.ThumbUpLocation;
        }
      }
      else if (resourcesType === "Html") {
        $("#tableResources").append("<tr id=\"trResourceHtmlFile\"><td style=\"text-align: right !important;\" title=\"Base folder is C:\\git_cjonasl\\Leander\\Solutions\\Nr1\\WebApplication1\\JavaScriptHtml\\ so give path to file after that for example CSS\\Nr1\\R15.html\">Html file&nbsp;&nbsp;</td><td><input id=\"inputResourceHtmlFile\" autocomplete=\"off\" autocorrect=\"off\" autocapitalize=\"off\" spellcheck=\"false\" type=\"text\" style=\"width: 900px !important; margin-top: 7px !important;\" /></td></tr>");

        if (data.Resource.Id) {
          $("#inputResourceHtmlFile").val(data.Resource.HtmlFile == null ? "" : data.Resource.HtmlFile);
          window.jonas.resourceHtmlFile = data.Resource.HtmlFile == null ? "" : data.Resource.HtmlFile;
        }
      }
      else {
        $("#tableResources").append("<tr id=\"trResourceFiles\"><td style=\"text-align: right !important;\" title=\"Files full path or a folder (row separated)\">Files&nbsp;&nbsp;</td><td><textarea id=\"textareaResourceFiles\" autocomplete=\"off\" autocorrect=\"off\" autocapitalize=\"off\" spellcheck=\"false\" type=\"text\" style=\"width: 900px !important; height: 100px !important; margin-top: 7px !important; margin-left: 0px !important; font-size: small !important;\"></textarea></td></tr>");
        $("#tableResources").append("<tr id=\"trResourceLinks\"><td style=\"text-align: right !important;\" title=\"Links (row separated) and ###  between value of href-attribute and text to show for link\">Links&nbsp;&nbsp;</td><td><textarea id=\"textareaResourceLinks\" autocomplete=\"off\" autocorrect=\"off\" autocapitalize=\"off\" spellcheck=\"false\" type=\"text\" style=\"width: 900px !important; height: 100px !important; margin-top: 7px !important; margin-left: 0px !important; font-size: small !important;\"></textarea></td></tr>");

        if (data.Resource.Id) {
          $("#textareaResourceFiles").val(data.Resource.Files == null ? "" : data.Resource.Files);
          $("#textareaResourceLinks").val(data.Resource.Links == null ? "" : data.Resource.Links);
          window.jonas.resourceFiles = data.Resource.Files == null ? "" : data.Resource.Files;
          window.jonas.resourceLinks = data.Resource.Links == null ? "" : data.Resource.Links;
        }
      }

      if (data.Resource.Id)
        str = "Edit ";
      else
        str = "New ";

      window.jonas.openModal("#dialogResource", str + resourcesType + " resource", 1100, 620, resourcesType);
      window.jonas.updateResourceState(true, "green");
    }

    window.jonas.executeCmd = function (str) { //If str has a value then window.jonas.executeCmd is called from SearchResource.cshtml
      var descriptionAvailableCommands, index, cmd, val, availableCommands, command, renderInNewTab = false;

      descriptionAvailableCommands = "The following commands are available:\r\n";
      descriptionAvailableCommands += "s: Show latest search result of resources\r\n";
      descriptionAvailableCommands += "r: Show last render of resource \r\n";
      descriptionAvailableCommands += "nr l: New ThumbUpLocation resource\ \r\n";
      descriptionAvailableCommands += "nr h: New Html resource \r\n";
      descriptionAvailableCommands += "nr s: New Self resource\r\n";
      descriptionAvailableCommands += "er l: Edit ThumbUpLocation resource\ \r\n";
      descriptionAvailableCommands += "er h: Edit Html resource \r\n";
      descriptionAvailableCommands += "er s: Edit Self resource\r\n";
      descriptionAvailableCommands += "rr {value}: Render a resource\r\n";
      descriptionAvailableCommands += "rrt {value}: Render a Html resource in new tab\r\n";
      descriptionAvailableCommands += "r rg: Regenerate file Resource.txt\r\n";
      descriptionAvailableCommands += "r check: Check file Resource.txt\r\n";
      descriptionAvailableCommands += "menu {value}: Set text for current menu\r\n";
      descriptionAvailableCommands += "sub1 {value}: Set text for current sub1\r\n";
      descriptionAvailableCommands += "sub2 {value}: Set text for current sub2\r\n";
      descriptionAvailableCommands += "tab {value}: Set text for current tab\r\n";
      descriptionAvailableCommands += "icon {value}: Set icon for current left menu location\r\n";
      descriptionAvailableCommands += "title {value}: Set title for current left menu location\r\n";
      descriptionAvailableCommands += "\r\n";


      if (!str)
        str = $("#inputCmd").val().trim();

      if (!str || (str === "?")) {
        $("#inputCmd").val("");
        alert(descriptionAvailableCommands);
        return;
      }
      else if (str === "s") {
        $("#inputCmd").val("");
        window.jonas.showLatestSearchResultOfResources();
        return;
      }
      else if (str === "r") {
        $("#inputCmd").val("");
        window.jonas.showLastRenderOfResource();
        return;
      }

      availableCommands = ["nr", "er", "rr", "rrt", "r", "icon", "title", "menu", "sub1", "sub2", "tab"]; //nr=new resource, er=edit resource and rr=render resource

      index = str.indexOf(" ");

      if (index > 0) {
        cmd = str.substring(0, index);
        val = str.substring(index).trim();
      }
      else
        cmd = "";

      index = availableCommands.indexOf(cmd);

      if ((index === -1) || ((cmd === "nr") && ((val !== "l") && (val !== "h") && (val !== "s")))) {
        alert("ERROR!! Incorrect given command!\r\n" + descriptionAvailableCommands);
        return;
      }

      if (cmd === "nr") {
        if (val === "l")
          val = "ThumbUpLocation";
        else if (val === "h")
          val = "Html";
        else
          val = "Self";
      }

      if ((cmd === "nr") && (val === "ThumbUpLocation")) {
        if ((window.jonas.location === "searchResultResources") || (window.jonas.location === "renderOfResource")) {
          alert("You can not create ThumbUpLocation resource in page for search result and page for render of resource!");
          return;
        }

        if (window.jonas.currentResource !== 0) {
          alert("This location is already associated with resource " + window.jonas.currentResource + "!");
          return;
        }  
      }

      if ((cmd === "er") || (cmd === "rr") || (cmd === "rrt")) {
        val = window.Number(val);

        if (!val || (val < 1) || (val > window.jonas.maxResourceId)) {
          alert("ERROR!! For command \"" + cmd + "\", the value must be an integer in the range [1, " + window.jonas.maxResourceId + "]!");
          return;
        }
      }

      if ((cmd === "r") && (val !== "rg") && (val !== "check")) {
        alert("ERROR!! For command \"" + cmd + "\", the value must be rg (regenerate file Resource.txt) or check (check file Resource.txt)!");
        return;
      }

      if (cmd === "rrt") {
        cmd = "rr";
        renderInNewTab = true;
      }

      if (cmd === "rr") {
        $("#inputCmd").val("");
        window.jonas.renderResource(val, renderInNewTab);
        return;
      }

      command = {
        page: window.jonas.page,
        menu: window.jonas.menu,
        sub1: window.jonas.sub1,
        sub2: window.jonas.sub2,
        tab: window.jonas.tab,
        cmd: cmd,
        val: val
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/ExecuteCommand",
        data: command,
        error: function (data) {
          $("#contentDivErrorMessage").html(data.responseText);
          window.jonas.updateCssDisplayForContentDivs("errorMessage");
        },
        method: "post",
        success: function (data) {
          if ((typeof data === "string") && (data.length >= 5) && (data.substring(0, 5) === "ERROR")) {
            alert(data);
            return;
          }

          if (cmd === "icon") {
            $("#iIcon").removeClass('fa-' + window.jonas.icon);
            $("#iIcon").addClass('fa-' + val);
            window.jonas.icon = val;
          }
          else if (cmd === "title") {
            $("#spanTitle").text(val);
          }
          else if (cmd.substring(0, 3) === "tab") {
            $("#aTab" + window.jonas.tab).text(val);
          }
          else if ((cmd === "menu") || (cmd === "sub1") || (cmd === "sub2")) {
            var url = window.location = "http://www.Nr1Web1.com/Main/Default?page=" + window.jonas.page + "&menu=" + window.jonas.menu + "&sub1=" + window.jonas.sub1 + "&sub2=" + window.jonas.sub2 + "&tab=" + window.jonas.tab;
            window.open(url, "_self");
          }
          else if ((cmd === "nr") || (cmd === "er")) {
            window.jonas.loadAndOpenResourceModal(data);
          }
          else if (cmd === "r") {
            alert(data); //Show message of the result of regenerate file Resource.txt or check file Resource.txt
          }

          $("#inputCmd").val("");
        }
      });
    }

    window.jonas.setTitleTextInBrowser = function (page, menu, sub1, sub2, tab, suffix) {
      var titleTextInBrowser;

      suffix = suffix.replace(/##/g, "\\"); //Modifier g replaces all occurencies of ##, otherwise only one occurence will be replaced.

      if ((menu > 0) && (tab > 0))
        titleTextInBrowser = "Page" + page + " - Menu" + menu + " - Sub" + sub1 + " - Sub" + sub2 + " - Tab" + tab + suffix;
      else if ((menu === 0) && (tab > 0))
        titleTextInBrowser = "Page" + page + " - Dashboard - Tab" + tab + suffix;
      else if ((menu > 0) && (tab === 0))
        titleTextInBrowser = "Page" + page + " - Menu" + menu + " - Sub" + sub1 + " - Sub" + sub2 + suffix;
      else
        titleTextInBrowser = "Page" + page + " - Dashboard" + suffix;

      $("title").text(titleTextInBrowser);
    }

    window.jonas.newLocation = function (page, menu, sub1, sub2, tab, tabChanged) {
      var location;

      if ((page === window.jonas.page) && (menu === window.jonas.menu) && (sub1 === window.jonas.sub1) && (sub2 === window.jonas.sub2) && (tab === window.jonas.tab))
        return;

      if (!$("#btnDefaultLocationSave").prop("disabled")) {
        alert("WATCH OUT!! textarea is not saved!!!");
        return;
      }

      if (!$("#btnRenderOfHtmlResourceSave").prop("disabled")) {
        alert("WATCH OUT!! textarea is not saved!!!");
        return;
      }

      window.jonas.turnOffEventHandlersThatMightBeOn();

      // ----------- If it is a new page a full reload is needed to rerender left menu --------------------------------------------------------------
      if ((window.jonas.page > 0) && (page !== window.jonas.page)) {
        window.location = "http://www.Nr1Web1.com/Main/Default?page=" + page + "&menu=" + menu + "&sub1=" + sub1 + "&sub2=" + sub2 + "&tab=" + tab;
        return;
      }
      // --------------------------------------------------------------------------------------------------------------------------------------------

      if (window.jonas.page === 0) {
        $("#page" + page).addClass("active");
      }

      location = {
        page: page,
        menu: menu,
        sub1: sub1,
        sub2: sub2,
        tab: tab,
        newLocationByChangeOfTab: tabChanged
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/NewLocation",
        data: location,
        error: function (data) {
          $("#contentDivErrorMessage").html(data.responseText);
          window.jonas.updateCssDisplayForContentDivs("errorMessage");
        },
        method: "post",
        success: function (data) {
          if (typeof data === "object") { //Default location. Update icon, title, tab1-tab10 (if not new location by change of tab) and for textarea the text, width and height
            var i;

            window.jonas.checkIconAndSetTitle(data.Icon, data.Title);

            if (!tabChanged) {
              for (i = 1; i <= 10; i++) {
                if (data.Tab[i - 1] !== $("#aTab" + i).text())
                  $("#aTab" + i).text(data.Tab[i - 1]);
              }
            }

            window.jonas.registerNewTextAreaDefaultLocation(data.Width, data.Height, data.Text);
            window.jonas.setTitleTextInBrowser(page, menu, sub1, sub2, tab, " (default location)");
            window.jonas.updateCssDisplayForContentDivs("defaultLocation");
            window.jonas.handlePreviousCurrentNextResource(data.PreviousResource, data.CurrentResource, data.NextResource);
          }
          else { //html back from server, i.e. a non-default location
            $("#contentDivNonDefaultLocation").html(data);
          }

          window.jonas.handleChangeLocation(menu, sub1, sub2, tab);

          window.jonas.page = page;
          window.jonas.menu = menu;
          window.jonas.sub1 = sub1;
          window.jonas.sub2 = sub2;
          window.jonas.tab = tab;
        }
      });
    }

    window.jonas.searchResources = function () {
      if (!$("#btnDefaultLocationSave").prop("disabled")) {
        alert("WATCH OUT!! textarea is not saved!!!");
        return;
      }

      if (!$("#btnRenderOfHtmlResourceSave").prop("disabled")) {
        alert("WATCH OUT!! textarea is not saved!!!");
        return;
      }

      window.jonas.turnOffEventHandlersThatMightBeOn();

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/SearchResource",
        data: { searchTerm: $("#searchTerm").val() },
        error: function (data) {
          $("#contentDivErrorMessage").html(data.responseText);
          window.jonas.updateCssDisplayForContentDivs("errorMessage");
        },
        method: "post",
        success: function (data) {
          $("#contentDivSearchResultResources").html(data);
          searchTerm: $("#searchTerm").val("");
          window.jonas.showLatestSearchResultOfResources();
        }
      });
    }

    window.jonas.showLatestSearchResultOfResources = function () {
      if (window.jonas.location === "searchResultResources")
        return;

      if (window.jonas.tab !== 0) {
        $("#liTab" + window.jonas.tab).removeClass("active");
        window.jonas.tab = 0;
      }

      window.jonas.setTitleTextInBrowser(window.jonas.page, window.jonas.menu, window.jonas.sub1, window.jonas.sub2, 0, " (Search result resources)");
      window.jonas.updateCssDisplayForContentDivs("searchResultResources");
      window.jonas.checkIconAndSetTitle("shuttle-van", "Search result for resources");
    }

    window.jonas.showLastRenderOfResource = function () {
      var textarea;

      if (window.jonas.location === "renderOfResource")
        return;

      if (window.jonas.tab !== 0) {
        $("#liTab" + window.jonas.tab).removeClass("active");
        window.jonas.tab = 0;
      }

      window.jonas.setTitleTextInBrowser(window.jonas.page, window.jonas.menu, window.jonas.sub1, window.jonas.sub2, 0, " (Render of resource)");
      window.jonas.updateCssDisplayForContentDivs("renderOfResource");
      window.jonas.checkIconAndSetTitle("book-reader", "Render resource");
      window.jonas.handlePreviousCurrentNextResource(window.jonas.previousResourceInRenderOfResource, window.jonas.currentResourceInRenderOfResource, window.jonas.nextResourceInRenderOfResource);

      if ($("#divRenderOfHtmlResource").css("dispaly") === "block") {
        textarea = $("#textareaRenderOfHtmlResource");

        textarea.on("change", window.jonas.textareaRenderOfHtmlResourceChange);
        textarea.on("mouseup", window.jonas.textareaRenderOfHtmlResourceResize);
        window.jonas.eventHandlerTextareaRenderOfHtmlResource = 1;    
      }
    }

    window.jonas.openModal = function (id, title, width, height, modalState) {
      var options, popup, i;

      window.jonas.modalState = modalState;

      options = {
        modal: true,
        title: title,
        position: { my: "center", at: "center", of: window },
        width: width,
        height: height,
        close: function () {
          if ((window.jonas.modalState === "ThumbUpLocation") || (window.jonas.modalState === "Html") || (window.jonas.modalState === "Self")) {
            $("#inputResourceTitle").off("change");

            for (i = 1; i <= window.jonas.numberOfKeyWords; i++) {
              $("#keyWord" + i).off("change");
            }

            $("#inputResourceNote").off("change");
            $("#inputResourcePrevious").off("change");
            $("#inputResourceNext").off("change");
            $("#inputResourceId").val("");
            $("#inputResourceResourcesType").val("");
            $("#divKeyWords").html("");
            $("#inputResourceCreated").val("");
            $("#inputResourceTitle").val("");
            $("#inputResourceNote").val("");
            $("#inputResourcePrevious").val("");
            $("#inputResourceNext").val("");

            if (window.jonas.modalState === "ThumbUpLocation") {
              $("#inputResourceThumbUpLocation").on("change");
              $("#trResourceThumbUpLocation").remove();
              window.jonas.handlePreviousCurrentNextResource(window.jonas.previousResource, window.jonas.currentResource, window.jonas.nextResource);
            }
            else if (window.jonas.modalState === "Html") {
              $("#inputResourceHtmlFile").off("change");
              $("#trResourceHtmlFile").remove();
            }
            else if (window.jonas.modalState === "Self") {
              $("#textareaResourceFiles").off("change");
              $("#textareaResourceLinks").off("change");
              $("#trResourceFiles").remove();
              $("#trResourceLinks").remove();
            }
          }
          else if ((window.jonas.modalState === "AddKeyWord") || (window.jonas.modalState === "EditKeyWord")) {
            $("#inputKeyWordId").val("");
            $("#inputKeyWordCreated").val("");
            $("#inputKeyWordPhrase").val("");
            $("#inputKeyWordNote").val("");
            $("#inputKeyWordPhrase").off("change");
            $("#inputKeyWordNote").off("change");

            if (window.jonas.modalState === "EditKeyWord")
              $("#inputKeyWordPhrase").prop("readonly", false);
          }
          else if (window.jonas.modalState === "EditArbitraryTextFile") {
            $("#textareaEditArbitraryTextFile").off("change");
            $("#textareaEditArbitraryTextFile").val("");
            window.jonas.currentFileNameFullPathInTextareaEditArbitraryTextFile = "";

            if (window.jonas.idTdBytesInDiary)
              window.jonas.updateBytesInDiaryAndDiaryWarningMessage();
          }
          else if (window.jonas.modalState === "NewCommunicationMessage") {
            $("#textareaCommunicationMessage").val("");
          }
          else if (window.jonas.modalState === "EditCommunicationMessage") {
            $("#textareaCommunicationMessage").val("");
            $("#btnDialogCommunicationMessage").text("Add");
            window.jonas.currentCommunicationMessageId = "";
          }
          else {
            alert("ERROR!! Incorrect modal state: " + window.jonas.modalState);
          }

          window.jonas.modalState = "";
        }
      };

      popup = $(id);
      popup.dialog(options);
      popup.dialog('open');
      popup.show();
    }

    window.jonas.saveKeyWord = function (id, created, phrase, note) {
      var keyWord, newPhrase, newNote;

      newPhrase = phrase.trim();
      newNote = note.trim();

      if (!newPhrase || !newNote) {
        alert("Both a phrase and a note must be given!");
        return;
      }

      keyWord = {
        id: id,
        created: created,
        phrase: newPhrase,
        note: newNote
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/SaveKeyWord",
        data: keyWord,
        error: function (data) {
          $("#contentDivErrorMessage").html(data.responseText);
          window.jonas.updateCssDisplayForContentDivs("errorMessage");
        },
        method: "post",
        success: function (data) {
          var tmp, element = "<tr>";
          if ((typeof data === "object") && (!id)) { //Success add new key word. Insert the new key word in the table
            element += "<td>" + data.Id.toString() + "</td>";
            element += ("<td>" + data.Created + "</td>");
            element += ("<td>" + data.Phrase + "</td>");
            element += ("<td id='keyWordNote" + data.Id.toString() + "'>" + data.Note + "</td>");

            tmp = "<td><a href=\"javascript: window.jonas.openModalToEditKeyWord('AAA', 'BBB', 'CCC')\">Edit</a></td></tr>";
            tmp = tmp.replace("AAA", data.Id.toString());
            tmp = tmp.replace("BBB", data.Created);
            tmp = tmp.replace("CCC", data.Phrase);
            element += tmp;
            $("#tableKeyWords").append(element);

            $("#dialogKeyWord").dialog("option", "title", "Edit key word");
            $("#inputKeyWordId").val(data.Id.toString());
            $("#inputKeyWordCreated").val(data.Created);
            $("#inputKeyWordPhrase").prop("readonly", true);
            window.jonas.modalState = "EditKeyWord";
          }
          else if ((typeof data === "object") && id) { //Update was successful
            alert("Update was successful");
            $('#keyWordNote' + data.Id.toString()).text(data.Note);
          }
          else {
            alert(data); //Error occured
            return;
          }

          window.jonas.keyWordPhrase = data.Phrase;
          window.jonas.keyWordNote = data.Note;
          window.jonas.updateKeyWordState(true, "green");
        }
      });
    }

    window.jonas.cancelKeyWord = function () {
      $("#inputKeyWordPhrase").val(window.jonas.keyWordPhrase);
      $("#inputKeyWordNote").val(window.jonas.keyWordNote);
      window.jonas.updateKeyWordState(true, "green");
    }

    window.jonas.openModalToAddKeyWord = function () {
      window.jonas.keyWordPhrase = "";
      window.jonas.keyWordNote = "";
      window.jonas.openModal('#dialogKeyWord', 'Add key word', 800, 350, 'AddKeyWord');
      window.jonas.updateKeyWordState(true, "green");
    }

    window.jonas.openModalToEditKeyWord = function (id, created, phrase) {
      var note;
      $("#inputKeyWordId").val(id);
      $("#inputKeyWordCreated").val(created);
      $("#inputKeyWordPhrase").val(phrase);
      note = $("#keyWordNote" + id).text();
      $("#inputKeyWordNote").val(note);
      $("#inputKeyWordPhrase").prop("readonly", true);
      window.jonas.keyWordPhrase = phrase;
      window.jonas.keyWordNote = note;
      window.jonas.updateKeyWordState(true, "green");
      window.jonas.openModal("#dialogKeyWord", "Edit key word", 800, 350, "EditKeyWord");
    }

    window.jonas.saveResource = function () {
      var id, resourcesType, created, title, note, previous, next, keyWords; //Same for all 3 resource types
      var thumbUpLocation = ""; //Only type ThumbUpLocation
      var htmlFile = ""; //Only type Html
      var files = "", links = ""; //Only type Self
      var newKeyWords, resource, i;

      id = $("#inputResourceId").val();
      resourcesType = $("#inputResourceResourcesType").val();
      created = $("#inputResourceCreated").val();
      title = $("#inputResourceTitle").val().trim();
      keyWords = $("input[type='checkbox']:checked", "#divKeyWords");
      note = $("#inputResourceNote").val().trim();
      previous = $("#inputResourcePrevious").val();
      next = $("#inputResourceNext").val();

      if (window.jonas.modalState === "ThumbUpLocation") {
        thumbUpLocation = $("#inputResourceThumbUpLocation").val().trim();
      }

      if (window.jonas.modalState === "Html") {
        htmlFile = $("#inputResourceHtmlFile").val().trim();

        if (!htmlFile) {
          alert("A Html-file must be given!");
          return;
        }
      }

      if (window.jonas.modalState === "Self") {
        files = $("#textareaResourceFiles").val().trim();
        links = $("#textareaResourceLinks").val().trim();
      }

      if (!title) {
        alert("Title must be given!");
        return;
      }

      if (keyWords.length === 0) {
        alert("At least one key word must be given!");
        return;
      }

      if (!previous)
        previous = 0;

      if (!next)
        next = 0;

      //previous, next and id seem to be of type string even if "type=number" in the input-element
      id = window.Number(id);
      previous = window.Number(previous);
      next = window.Number(next);

      if ((previous !== 0) && ((Math.round(previous) !== previous) || (previous < 1) || (previous > window.jonas.maxResourceId))) {
        alert("Previous must be an integer in the range [1," + window.jonas.maxResourceId + "]!");
        return;
      }

      if ((next !== 0) && ((Math.round(next) !== next) || (next < 1) || (next > window.jonas.maxResourceId))) {
        alert("Next must be an integer in the range [1," + window.jonas.maxResourceId + "]!");
        return;
      }

      if (id && (previous !== 0) && (previous === id)) {
        alert("Previous can not point to itself!");
        return;
      }

      if (id && (next !== 0) && (next === id)) {
        alert("Next can not point to itself!");
        return;
      }

      if ((previous !== 0) && (next !== 0) && (previous === next)) {
        alert("Previous and Next can not point to same resource!");
        return;
      }

      newKeyWords = "";

      for (i = 0; i < keyWords.length; i++) {
        if (keyWords[i].checked && newKeyWords === "") {
          newKeyWords = keyWords[i].id.substring(7); //7=Length of prefix keyWord
        }
        else if (keyWords[i].checked && newKeyWords !== "") {
          newKeyWords += ("," + keyWords[i].id.substring(7)); //7=Length of prefix keyWord
        }
      }

      if (!id)
        id = 0;

      resource = {
        id: id,
        resourcesType: resourcesType,
        created: created,
        title: title,
        keyWords: newKeyWords,
        note: note,
        previousResource: previous,
        nextResource: next,
        thumbUpLocation: thumbUpLocation,
        htmlFile: htmlFile,
        files: files,
        links: links,
        htmlResourceIframeTextAreaDimensions: null,
        tmp: ""
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/SaveResource",
        data: resource,
        error: function (data) {
          $("#contentDivErrorMessage").html(data.responseText);
          window.jonas.updateCssDisplayForContentDivs("errorMessage");
        },
        method: "post",
        success: function (data) {

          if ((typeof data === "string") && (data.length >= 5) && (data.substring(0, 5) === "ERROR")) {
            alert(data);
            return;
          }
          else if (typeof data === "object") {
            $("#inputResourceId").val(data.Id);
            $("#inputResourceCreated").val(data.Created);

            if (data.ResourcesType === 0)
              resourcesType = "ThumbUpLocation";
            else if (data.ResourcesType === 1)
              resourcesType = "Html";
            else if (data.ResourcesType === 2)
              resourcesType = "Self";

            $("#dialogResource").dialog("option", "title", "Edit " + resourcesType + " resource");

            if (window.jonas.modalState === "ThumbUpLocation") {
              window.jonas.previousResource = data.PreviousResource;
              window.jonas.currentResource = data.Id;
              window.jonas.nextResource = data.NextResource;
            }

            window.jonas.maxResourceId++;
          }
          else {
            alert("Update of the resource was successful!");
          }

          window.jonas.resourceTitle = data.Title;
          window.jonas.resourceKeyWords = data.KeyWords;
          window.jonas.resourceNote = (data.Note == null ? "" : data.Note);
          window.jonas.resourcePrevious = data.PreviousResource;
          window.jonas.resourceNext = data.NextResource;
          window.jonas.resourceThumbUpLocation = (data.ThumbUpLocation == null ? "" : data.ThumbUpLocation);
          window.jonas.resourceHtmlFile = (data.HtmlFile == null ? "" : data.HtmlFile);
          window.jonas.resourceFiles = (data.Files == null ? "" : data.Files);
          window.jonas.resourceLinks = (data.Links == null ? "" : data.Links);

          window.jonas.updateResourceState(true, "green");
        }
      });
    }

    window.jonas.cancelResource = function () {
      var arrayListWithKeyWordIdsAsString, i, checkBoxElement, isChecked, id, index;

      $("#inputResourceTitle").val(window.jonas.resourceTitle);

      arrayListWithKeyWordIdsAsString = window.jonas.resourceKeyWords.split(",");

      for (i = 1; i <= window.jonas.numberOfKeyWords; i++) {
        checkBoxElement = $("#keyWord" + i);
        isChecked = checkBoxElement.prop("checked");
        id = checkBoxElement.attr("id").substring(7);
        index = arrayListWithKeyWordIdsAsString.indexOf(id);

        if (isChecked && (index === -1))
          checkBoxElement.prop("checked", false);
        else if (!isChecked && (index >= 0))
          checkBoxElement.prop("checked", true);
      }

      $("#inputResourceNote").val(window.jonas.resourceNote);
      $("#inputResourcePrevious").val(window.jonas.resourcePrevious === 0 ? "" : window.jonas.resourcePrevious);
      $("#inputResourceNext").val(window.jonas.resourceNext === 0 ? "" : window.jonas.resourceNext);

      if (window.jonas.modalState === "ThumbUpLocation") {
        $("#inputResourceThumbUpLocation").val(window.jonas.resourceThumbUpLocation);
      }
      else if (window.jonas.modalState === "Html") {
        $("#inputResourceHtmlFile").val(window.jonas.resourceHtmlFile);
      }
      else if (window.jonas.modalState === "Self") {
        $("#textareaResourceFiles").val(window.jonas.resourceFiles);
        $("#textareaResourceLinks").val(window.jonas.resourceLinks);
      }

      window.jonas.updateResourceState(true, "green");
    }

    window.jonas.renderResource = function (id, renderInNewTab) {
      if (!$("#btnDefaultLocationSave").prop("disabled")) {
        alert("WATCH OUT!! textarea is not saved!!!");
        return;
      }

      if (!$("#btnRenderOfHtmlResourceSave").prop("disabled")) {
        alert("WATCH OUT!! textarea is not saved!!!");
        return;
      }

      window.jonas.turnOffEventHandlersThatMightBeOn();

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/GetResource",
        data: { id: id },
        error: function (data) {
          $("#contentDivErrorMessage").html(data.responseText);
          window.jonas.updateCssDisplayForContentDivs("errorMessage");
        },
        method: "post",
        success: function (data) {
          if (typeof data === "string") {
            if ((data.length >= 5) && (data.substring(0, 5) === "ERROR")) {
              alert(data);
              return;
            } else { //Self resource
              $("#divRenderOfSelfResource").html(data);
            }
          }
          else if (typeof data == "object") {
            if ((data.ResourcesType === 0 || data.ResourcesType === 2) && renderInNewTab) {
              alert("Command rrt can only be usef for a Html resource!");
            }
            else if (data.ResourcesType === 0 && !renderInNewTab) { //ThumbUpLocation Page???Menu???Sub???Sub???Tab???
              var indexMenu, indexSub1, indexSub2, indexTab;
              var page, menu, sub1, sub2, tab;

              indexMenu = data.ThumbUpLocation.indexOf("Menu", 4);
              indexSub1 = data.ThumbUpLocation.indexOf("Sub", 4);
              indexSub2 = data.ThumbUpLocation.indexOf("Sub", 3 + indexSub1);
              indexTab = data.ThumbUpLocation.indexOf("Tab", 3 + indexSub2);

              page = window.Number(data.ThumbUpLocation.substring(4, indexMenu));
              menu = window.Number(data.ThumbUpLocation.substring(4 + indexMenu, indexSub1));
              sub1 = window.Number(data.ThumbUpLocation.substring(3 + indexSub1, indexSub2));
              sub2 = window.Number(data.ThumbUpLocation.substring(3 + indexSub2, indexTab));
              tab = window.Number(data.ThumbUpLocation.substring(3 + indexTab));

              window.jonas.newLocation(page, menu, sub1, sub2, tab, false);
            }
            else if (data.ResourcesType === 1 && !renderInNewTab) { //Html resource
              window.jonas.registerNewRenderOfHtmlResource(data.PreviousResource, data.Id, data.NextResource, data.WidthIframe, data.HeightIframe, data.WidthTextarea, data.HeightTextarea, data.HtmlFile, data.HtmlFileText);
            }
            else if (data.ResourcesType === 1 && renderInNewTab) {
              window.open("http://www.nr1web1.com/" + data.HtmlFile, "_blank");
            }
            else {
              alert("ERROR!! Unexpected resource type!");
            }
          }
        }
      });
    }

    window.jonas.renderPreviousResource = function () {
      if (window.jonas.previousResource === 0)
        alert("The resource does not point to a previous resource!");
      else
        window.jonas.renderResource(window.jonas.previousResource, false);
    }

    window.jonas.renderNextResource = function () {
      if (window.jonas.nextResource === 0)
        alert("The resource does not point to a next resource!");
      else
        window.jonas.renderResource(window.jonas.nextResource, false);
    }

    window.jonas.appendSerachTerm = function (cmd) {
      var text;
      text = $("#searchTerm").val();
      text += (" " + cmd + "(" + $("#inputHelpSearch").val() + ")");
      $("#searchTerm").val(text.trim());
      $("#inputHelpSearch").val("");
    }

  </script>
</head>
<body id="jonasApp" class="page-header-fixed no-inlinesvg">
  <div class="hijumpTopMenu header navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <ul class="nav pull-right">
          <li class='dropdown user'>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src='http://www.Nr1Web1.com/CreateNavFromHarmony/Jonas.png' style='width:29px; height:29px;' />
              <span class='username'>Jonas Leander</span>
              <i class="fas fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li id="page1"><a href="javascript: window.jonas.newLocation(1, 0, 0, 0, 1, false)"><i class='fas fa-key'></i>&nbsp;&nbsp;Page1</a></li>
              <li id="page2"><a href="javascript: window.jonas.newLocation(2, 0, 0, 0, 1, false)"><i class='fas fa-camera'></i>&nbsp;&nbsp;Page2</a></li>
              <li id="page3"><a href="javascript: window.jonas.newLocation(3, 0, 0, 0, 1, false)"><i class='fas fa-print'></i>&nbsp;&nbsp;Page3</a></li>
              <li id="page4"><a href="javascript: window.jonas.newLocation(4, 0, 0, 0, 1, false)"><i class='fas fa-book'></i>&nbsp;&nbsp;Page4</a></li>
              <li id="page5"><a href="javascript: window.jonas.newLocation(5, 0, 0, 0, 1, false)"><i class='fas fa-magnet'></i>&nbsp;&nbsp;Page5</a></li>
              <li id="page6"><a href="javascript: window.jonas.newLocation(6, 0, 0, 0, 1, false)"><i class='fas fa-bed'></i>&nbsp;&nbsp;Page6</a></li>
              <li id="page7"><a href="javascript: window.jonas.newLocation(7, 0, 0, 0, 1, false)"><i class='fas fa-beer'></i>&nbsp;&nbsp;Page7</a></li>
              <li id="page8"><a href="javascript: window.jonas.newLocation(8, 0, 0, 0, 1, false)"><i class='fas fa-bell'></i>&nbsp;&nbsp;Page8</a></li>
              <li id="page9"><a href="javascript: window.jonas.newLocation(9, 0, 0, 0, 1, false)"><i class='fas fa-bus'></i>&nbsp;&nbsp;Page9</a></li>
              <li id="page10"><a href="javascript: window.jonas.newLocation(10, 0, 0, 0, 1, false)"><i class='fas fa-dice'></i>&nbsp;&nbsp;Page10</a></li>
              <li id="page11"><a href="javascript: window.jonas.newLocation(11, 0, 0, 0, 1, false)"><i class='fas fa-helicopter'></i>&nbsp;&nbsp;Page11</a></li>
              <li id="page12"><a href="javascript: window.jonas.newLocation(12, 0, 0, 0, 1, false)"><i class='fas fa-hotel'></i>&nbsp;&nbsp;Page12</a></li>
              <li id="page13"><a href="javascript: window.jonas.newLocation(13, 0, 0, 0, 1, false)"><i class='fas fa-kiss'></i>&nbsp;&nbsp;Page13</a></li>
              <li id="page14"><a href="javascript: window.jonas.newLocation(14, 0, 0, 0, 1, false)"><i class='fas fa-ship'></i>&nbsp;&nbsp;Page14</a></li>
              <li id="page15"><a href="javascript: window.jonas.newLocation(15, 0, 0, 0, 1, false)"><i class='fas fa-umbrella'></i>&nbsp;&nbsp;Page15</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  @RenderBody();

  <script type="text/javascript">
    $(function () {
      App.init();
    });

  </script>
</body>
</html>

