<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/jquery-ui.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/bootstrap.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/bootstrap-responsive.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/style.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/style-responsive.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/default.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/dls.hijump.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/dls.hiJumpTheme.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/HarmonyTheme.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/Red.css" rel="stylesheet" />
  <script src="http://www.Nr1Web1.com/CreateNavFromHarmony/jquery-1.12.4.js"></script>
  <script src="http://www.Nr1Web1.com/CreateNavFromHarmony/jquery-ui.js"></script>
  <script src="http://www.Nr1Web1.com/CreateNavFromHarmony/bootstrap.min.js"></script>
  <script src="http://www.Nr1Web1.com/CreateNavFromHarmony/app.js"></script>

  <style>
    textarea, textarea:focus {
      border: 1px solid black;
      font-family: 'Times New Roman';
      font-size: large;
      margin: 20px;
      font-weight: 500;
    }

    .btnSaveTextArea {
      margin-left: 20px; 
      margin-top: 20px; 
      font-family: Arial; 
      font-size: larger;
      font-weight:700;
      background-color: green;
      color: lightcyan;
    }

    .spanKeyWord {
      margin-left: 3px;
      margin-right: 10px;
      font-size:large;
    }
  </style>

  <script>
    window.jonas = new Object();

    window.jonas.page = 0;
    window.jonas.menu = 0;
    window.jonas.sub1 = 0;
    window.jonas.sub2 = 0;
    window.jonas.tab = 0;
    window.jonas.icon = "";
    window.jonas.textAreaSaved = true;
    window.jonas.resource = 0;
    window.jonas.location = "initialRequest"; //initialRequest, defaultLocation, nonDefaultLocation, searchResultResources or renderOfResource

    window.jonas.checkIconAndSetTitle = function(newIcon, newTitle) {
      if (!$("#iIcon").hasClass('fa-' + newIcon)) {
        $("#iIcon").removeClass('fa-' + window.jonas.icon);  //Remove old icon
        $("#iIcon").addClass('fa-' + newIcon); //Add new icon
        window.jonas.icon = newIcon; //Update window.jonas.icon to new icon
      }
      $("#spanTitle").text(newTitle);
    }

    window.jonas.setTabNames = function (tab1, tab2, tab3, tab4, tab5, tab6, tab7, tab8, tab9, tab10) {
      $("#aTab1").text(tab1);
      $("#aTab2").text(tab2);
      $("#aTab3").text(tab3);
      $("#aTab4").text(tab4);
      $("#aTab5").text(tab5);
      $("#aTab6").text(tab6);
      $("#aTab7").text(tab7);
      $("#aTab8").text(tab8);
      $("#aTab9").text(tab9);
      $("#aTab10").text(tab10);
    }

    window.jonas.handleLeftMenuOnInitialPageLoad = function (menu, sub1, sub2) {
      if (menu > 0) {
        $("#liMenu" + menu).addClass("open");
        $("#liMenu" + menu).addClass("active");
        $("#spanMenu" + menu).addClass("open");
        $("#ulMenu" + menu).css("display", "block");
        $("#liMenu" + menu + "Sub" + sub1).addClass("open");
        $("#liMenu" + menu + "Sub" + sub1).addClass("active");
        $("#spanMenu" + menu + "Sub" + sub1).addClass("open");
        $("#ulMenu" + menu + "Sub" + sub1).css("display", "block");
        $("#liMenu" + menu + "Sub" + sub1 + "Sub" + sub2).addClass("active");

      }
      else {
        $("#liDashboard").addClass("active");
      }
    }

    window.jonas.updateCssDisplayForContentDivs = function (currentLocation, newLocation) {
      var defaultLocation = $("#contentDivDefaultLocation");
      var nonDefaultLocation = $("#contentDivNonDefaultLocation");
      var searchResultResources = $("#contentDivSearchResultResources");
      var renderOfResource = $("#contentDivRenderOfResource");

      if ((newLocation !== "defaultLocation") && (defaultLocation.css("display") !== "none"))
        defaultLocation.css("display", "none");

      if ((newLocation === "defaultLocation") && (defaultLocation.css("display") !== "block"))
        defaultLocation.css("display", "block");

      if ((newLocation !== "nonDefaultLocation") && (nonDefaultLocation.css("display") !== "none"))
        nonDefaultLocation.css("display", "none");

      if ((newLocation === "nonDefaultLocation") && (nonDefaultLocation.css("display") !== "block"))
        nonDefaultLocation.css("display", "block");

      if ((newLocation !== "searchResultResources") && (searchResultResources.css("display") !== "none"))
        searchResultResources.css("display", "none");

      if ((newLocation === "searchResultResources") && (searchResultResources.css("display") !== "block"))
        searchResultResources.css("display", "block");

      if ((newLocation !== "renderOfResource") && (renderOfResource.css("display") !== "none"))
        renderOfResource.css("display", "none");

      if ((newLocation === "renderOfResource") && (renderOfResource.css("display") !== "block"))
        renderOfResource.css("display", "block");

      window.jonas.location = newLocation;
    }

    window.jonas.handleChangeLocation = function (page, menu, sub1, sub2, tabChanged) {

      //Always go to tab1 when change location in left menu
      if ((window.jonas.tab !== 1) && ((page !== window.jonas.page) || (menu !== window.jonas.menu) || (sub1 !== window.jonas.sub1) || (sub2 !== window.jonas.sub2))) {
        $("#liTab" + window.jonas.tab).removeClass("active");
        $("#liTab1").addClass("active");
      }

      if (!tabChanged) {
        if (window.jonas.menu > 0) {
          if (menu !== window.jonas.menu)
            $("#liMenu" + window.jonas.menu).removeClass("active");

          $("#liMenu" + window.jonas.menu + "Sub" + window.jonas.sub1 + "Sub" + window.jonas.sub2).removeClass("active");
        }
        else {
          $("#liDashboard").removeClass("active");
        }

        if (menu > 0) {
          if (!$("#liMenu" + menu).hasClass("active"))
            $("#liMenu" + menu).addClass("active");

          $("#liMenu" + menu + "Sub" + sub1 + "Sub" + sub2).addClass("active");
        }
        else {
          $("#spanMenu" + window.jonas.menu).trigger("click");
          $("#liDashboard").addClass("active");
        }
      }
    }

    window.jonas.textAreaChange = function () {
      $("#btnSave").prop("disabled", false);
      $("#btnSave").css("background-color", "red");
      window.jonas.textAreaSaved = false;
      $(this).off("change");
    }

    window.jonas.handleTextAreaSave = function() {
      var txtArea = $("#textarea");

      var locationExtension = {
        page: window.jonas.page,
        menu: window.jonas.menu,
        sub1: window.jonas.sub1,
        sub2: window.jonas.sub2,
        tab: window.jonas.tab,
        width: txtArea.css("width"),
        height: txtArea.css("height"),
        text: txtArea.val().trim()
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/SaveTextArea",
        data: locationExtension,
        dataType: "json",
        error: function (data) { alert("An error happened! Error message: " + data.responseText); console.log(data); },
        method: "post",
        success: function (data) { alert("Result from server is: " + data); },
        complete: function () {
          $("#btnSave").prop("disabled", true);
          $("#btnSave").css("background-color", "green");
          window.jonas.textAreaSaved = true;
          $("#textarea").on("change", window.jonas.textAreaChange);
        }
      });
    }

    window.jonas.tabChanged = function (tab) {
      if (!window.jonas.textAreaSaved) {
        alert("WATCH OUT!! textarea is not saved!!!");
        return;
      }

      $("#liTab" + window.jonas.tab).removeClass("active");
      $("#liTab" + tab).addClass("active");
      window.jonas.newLocation(window.jonas.page, window.jonas.menu, window.jonas.sub1, window.jonas.sub2, tab, true);
    }

    window.jonas.executeCmd = function () {
      var str, index, cmd, val, availableCommands, command, divKeyWords, i, j, total, n, a, b, c;

      str = $("#inputCmd").val().trim();

      if (str === "r") {
        cmd = "r";
        val = "0";
      }
      else {
        index = str.indexOf(" ");

        if (index > 0) {
          cmd = str.substring(0, index);
          val = str.substring(index).trim();
        }
        else
          cmd = "";

        availableCommands = ["icon", "title", "menu", "sub1", "sub2", "tab"];

        if (availableCommands.indexOf(cmd) === -1) {
          str = "The following commands are available:\r\nr: Open resource dialog\r\nmenu {value}: Set text for current menu\r\nsub1 {value}: Set text for current sub1\r\n";
          str += "sub2 {value}: Set text for current sub2\r\ntab {value}: Set text for current tab\r\nicon {value}: Set icon for current left menu location\r\n";
          str += "title {value}: Set title for current left menu location";
          alert(str);
          return;
        }
      }
      
      command = {
        page: window.jonas.page,
        menu: window.jonas.menu,
        sub1: window.jonas.sub1,
        sub2: window.jonas.sub2,
        tab: window.jonas.tab,
        cmd: cmd,
        val: val
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/ExecuteCommand",
        data: command,
        dataType: "json",
        error: function (data) { alert("An error happened! Error message: " + data.responseText); console.log(data); },
        method: "post",
        success: function (data) {
          if ((typeof data === "string") && (data.substring(0, 5) === "ERROR")) {
            alert(data);
            return;
          }

          if (cmd === "icon") {
            $("#iIcon").removeClass('fa-' + window.jonas.icon);
            $("#iIcon").addClass('fa-' + val);
            window.jonas.icon = val;
          }
          else if (cmd === "title") {
            $("#spanTitle").text(val);
          }
          else if (cmd.substring(0, 3) === "tab") {
            $("#aTab" + window.jonas.tab).text(val);
          }
          else if ((cmd === "menu") || (cmd === "sub1") || (cmd === "sub2")) {
            var url = window.location = "http://www.Nr1Web1.com/Main/Default?page=" + window.jonas.page + "&menu=" + window.jonas.menu + "&sub1=" + window.jonas.sub1 + "&sub2=" + window.jonas.sub2 + "&tab=" + window.jonas.tab + "&cmdVisibility=visible";
            window.open(url, "_self");
          }
          else if (cmd === "r") {
            total = data.length;
            n = data.length;

            while ((n % 6) != 0)
              n++;

            a = n / 6;

            divKeyWords = $("#divKeyWords");
            divKeyWords.html("");

            for (i = 0; i < a; i++) {
              index = 6 * i;
              str = "<div style='font-size: large;'><input id='keyWord" + data[index].Id + "' type='checkbox' style='margin-bottom: 5px;' />&nbsp;" + data[index].Phrase + "&nbsp;&nbsp;&nbsp;&nbsp;";

              for (j = 1; j <= 5; j++) {
                if ((index + j) < total)
                  str += "<input id='keyWord" + data[index + j].Id + "' type='checkbox' style='margin-bottom: 5px;' />&nbsp;" + data[index + j].Phrase + "&nbsp;&nbsp;&nbsp;&nbsp;";
                else
                  break;
              }

              str += "</div>"

              divKeyWords.append(str);
            }

            window.jonas.openModal("dialogNewThumbUpLocationResource", "New ThumbUpLocation resource", 800, 350);
          }

          $("#inputCmd").val("");
        }
      });
    }

    window.jonas.setTitleTextInBrowser = function (page, menu, sub1, sub2, tab, suffix) {
      var titleTextInBrowser;

      if ((menu > 0) && (tab > 0))
        titleTextInBrowser = "Page" + page + " - Menu" + menu + " - Sub" + sub1 + " - Sub" + sub2 + " - Tab" + tab + suffix;
      else if ((menu === 0) && (tab > 0))
        titleTextInBrowser = "Page" + page + " - Dashboard - Tab" + tab + suffix;
      else if ((menu > 0) && (tab === 0))
        titleTextInBrowser = "Page" + page + " - Menu" + menu + " - Sub" + sub1 + " - Sub" + sub2 + suffix;
      else
        titleTextInBrowser = "Page" + page + " - Dashboard" + suffix;

      $("title").text(titleTextInBrowser);
    }

    window.jonas.newLocation = function (page, menu, sub1, sub2, tab, tabChanged) {
      var location;
 
      if ((page === window.jonas.page) && (menu === window.jonas.menu) && (sub1 === window.jonas.sub1) && (sub2 === window.jonas.sub2) && (tab === window.jonas.tab))
        return;
      
      // ----------- If it is a new page a full reload is needed to rerender left menu ----------------------
      if ((window.jonas.location !== "initialRequest") && (page !== window.jonas.page)) {
        window.location = "http://www.Nr1Web1.com/Main/Default?page=" + page + "&menu=0&sub1=0&sub2=0&tab=1";
        return;
      }
      // ----------------------------------------------------------------------------------------------------

      // ----- Initial request from browser -----
      if (window.jonas.location === "initialRequest") {

        window.jonas.handleLeftMenuOnInitialPageLoad(menu, sub1, sub2);
        $("#liTab" + tab).addClass("active");
        $("#textarea").on("change", window.jonas.textAreaChange);
        $("#btnSave").on("click", function () { window.jonas.handleTextAreaSave(); });
      }

      // Check if textarea in a default location is saved
      if (!window.jonas.textAreaSaved) {
        alert("WATCH OUT!! textarea is not saved!!!");
        return;
      }

      location = {
        page: page,
        menu: menu,
        sub1: sub1,
        sub2: sub2,
        tab: tab,
        newLocationByChangeOfTab: tabChanged
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/NewLocation",
        data: location,
        error: function (data) { alert("An error happened! Error message: " + data.responseText); console.log(data); },
        method: "post",
        success: function (data) {
          if (typeof data === "object") { //Default location. Update icon, title, tab1-tab10 (if not new location by change of tab) and for textarea the text, width and height
            var txtArea, i;

            window.jonas.checkIconAndSetTitle(data.Icon, data.Title);

            if (!tabChanged) {
              for (i = 1; i <= 10; i++) {
                if (data.Tab[i - 1] !== $("#aTab" + i).text())
                  $("#aTab" + i).text(data.Tab[i - 1]);
              }
            }

            txtArea = $("#textarea");
            txtArea.val(data.Text);
            txtArea.css("width", data.Width);
            txtArea.css("height", data.Height);

            window.jonas.setTitleTextInBrowser(page, menu, sub1, sub2, tab, " (default location)");
            window.jonas.updateCssDisplayForContentDivs(window.jonas.location, "defaultLocation");      
          }
          else { //html back from server, i.e. a non-default location
            $("#contentDivNonDefaultLocation").html(data);
            window.jonas.setTitleTextInBrowser(page, menu, sub1, sub2, tab, " (non-default location)");
            window.jonas.updateCssDisplayForContentDivs(window.jonas.location, "nonDefaultLocation");
          }

          window.jonas.handleChangeLocation(page, menu, sub1, sub2, tabChanged);

          if ((window.jonas.location === "searchResultResources") || (window.jonas.location === "renderOfResource"))
            $("#liTab" + tab).addClass("active");

          window.jonas.page = page;
          window.jonas.menu = menu;
          window.jonas.sub1 = sub1;
          window.jonas.sub2 = sub2;
          window.jonas.tab = tab;
        }
      });
    }

    window.jonas.searchResources = function () {
      $.ajax({
        url: "http://www.Nr1Web1.com/Main/SearchResource",
        data: { searchTerm: $("#searchTerm").val() },
        error: function (data) { alert("An error happened! Error message: " + data.responseText); console.log(data); },
        method: "post",
        success: function (data) {
          $("#contentDivSearchResultResources").html(data);
          searchTerm: $("#searchTerm").val("");
          window.jonas.showLatestSearchResultOfResources();
        }
      });
    }

    window.jonas.showLatestSearchResultOfResources = function() {
      if (window.jonas.location === "searchResultResources")
        return;

      if (window.jonas.location !== "renderOfResource") {
        $("#liTab" + window.jonas.tab).removeClass("active");
        window.jonas.tab = 0;
      }

      window.jonas.setTitleTextInBrowser(window.jonas.page, window.jonas.menu, window.jonas.sub1, window.jonas.sub2, 0, " (Search result resources)");
      window.jonas.updateCssDisplayForContentDivs(window.jonas.location, "searchResultResources");
      window.jonas.checkIconAndSetTitle("shuttle-van", "Search result for resources");
    }

    window.jonas.showLastRenderOfResource = function() {
      if (window.jonas.location === "renderOfResource")
        return;

      if (window.jonas.location !== "searchResultResources") {
        $("#liTab" + window.jonas.tab).removeClass("active");
        window.jonas.tab = 0;
      }

      window.jonas.setTitleTextInBrowser(window.jonas.page, window.jonas.menu, window.jonas.sub1, window.jonas.sub2, 0, " (Render of resource)");
      window.jonas.updateCssDisplayForContentDivs(window.jonas.location, "renderOfResource");
      window.jonas.checkIconAndSetTitle("book-reader", "Render of resource " + window.jonas.resource);
    }

    window.jonas.renderResource = function (id) {
      window.jonas.resource = id;
      alert("Render resource " + id);
    }

    window.jonas.openModal = function (id, title, width, height) {
      var options, popup;

      options = {
        modal: true,
        title: title,
        position: { my: "center", at: "center", of: window },
        minHeight: 0,
        width: width,
        height: height
      };

      popup = $('#' + id);
      popup.dialog(options);
      popup.dialog('open');
      popup.show();
    }

    window.jonas.addKeyWord = function (phrase, note) {
      var keyWord, newPhrase, newNote;

      newPhrase = phrase.trim();
      newNote = note.trim();

      if (!newPhrase || !newNote) {
        alert("Both a phrase and a note must be given!");
        return;
      }

      keyWord = {
        id: null,
        idString: null,
        created: null,
        phrase: newPhrase,
        note: newNote
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/AddKeyWord",
        data: keyWord,
        error: function (data) { alert("An error happened! Error message: " + data.responseText); console.log(data); },
        method: "post",
        success: function (data) {
          var tmp, element = "<tr>";
          if (typeof data === "object") { //Success. Insert the new key word in the table
            $("#dialogNewKeyWord").dialog("close");
            element += "<td>" + data.Id.toString() + "</td>";
            element += ("<td>" + data.Created + "</td>");
            element += ("<td>" + data.Phrase + "</td>");
            element += ("<td id='" + data.IdString + "'>" + data.Note + "</td>");

            tmp = "<td><a href=\"javascript: window.jonas.openModalToEditKeyWord('AAA', 'BBB', 'CCC')\">Edit</a></td></tr>";
            tmp = tmp.replace("AAA", data.Id.toString());
            tmp = tmp.replace("BBB", data.Created);
            tmp = tmp.replace("CCC", data.Phrase);
            element += tmp;

            $("#tableKeyWords").append(element);
            $('#inputNewPhrase').val('');
            $('#inputNewNote').val('');
          }
          else {
            alert(data); //Error occured
          }
        }
      });
    }

    window.jonas.openModalToEditKeyWord = function (id, created, phrase) {
      var note;
      $("#inputId").val(id);
      $("#inputCreated").val(created);
      $("#inputPhrase").val(phrase);
      note = $("#keyWord" + id).text();
      $("#inputEditNote").val(note);
      window.jonas.openModal("dialogEditKeyWord", "Edit key word", 800, 350);
    }

    window.jonas.editKeyWord = function (id, created, phrase, note) {
      var keyWord, newNote;

      newNote = note.trim();

      if (!newNote) {
        alert("Note must be given!");
        return;
      }

      keyWord = {
        id: id,
        idString: 'keyWord' + id,
        created: created,
        phrase: phrase,
        note: newNote
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/EditKeyWord",
        data: keyWord,
        error: function (data) { alert("An error happened! Error message: " + data.responseText); console.log(data); },
        method: "post",
        success: function (data) {
          if (typeof data === "object") { //Update was successful
            $("#dialogEditKeyWord").dialog("close");
            $('#' + data.IdString).text(data.Note);
          }
          else {
            alert(data); //Error occured
          }
        }
      });
    }

  </script>
</head>
<body id="jonasApp" class="page-header-fixed no-inlinesvg">
  <div class="hijumpTopMenu header navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <ul class="nav pull-right">
          <li class='dropdown user'>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src='http://www.Nr1Web1.com/CreateNavFromHarmony/Jonas.png' style='width:29px; height:29px;' />
              <span class='username'>Jonas Leander</span>
              <i class="fas fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript: window.jonas.newLocation(1, 0, 0, 0, 1, false)"><i class='fas fa-key'></i>&nbsp;&nbsp;Page1</a></li>
              <li><a href="javascript: window.jonas.newLocation(2, 0, 0, 0, 1, false)"><i class='fas fa-camera'></i>&nbsp;&nbsp;Page2</a></li>
              <li><a href="javascript: window.jonas.newLocation(3, 0, 0, 0, 1, false)"><i class='fas fa-print'></i>&nbsp;&nbsp;Page3</a></li>
              <li><a href="javascript: window.jonas.newLocation(4, 0, 0, 0, 1, false)"><i class='fas fa-book'></i>&nbsp;&nbsp;Page4</a></li>
              <li><a href="javascript: window.jonas.newLocation(5, 0, 0, 0, 1, false)"><i class='fas fa-magnet'></i>&nbsp;&nbsp;Page5</a></li>
              <li><a href="javascript: window.jonas.newLocation(6, 0, 0, 0, 1, false)"><i class='fas fa-bed'></i>&nbsp;&nbsp;Page6</a></li>
              <li><a href="javascript: window.jonas.newLocation(7, 0, 0, 0, 1, false)"><i class='fas fa-beer'></i>&nbsp;&nbsp;Page7</a></li>
              <li><a href="javascript: window.jonas.newLocation(8, 0, 0, 0, 1, false)"><i class='fas fa-bell'></i>&nbsp;&nbsp;Page8</a></li>
              <li><a href="javascript: window.jonas.newLocation(9, 0, 0, 0, 1, false)"><i class='fas fa-bus'></i>&nbsp;&nbsp;Page9</a></li>
              <li><a href="javascript: window.jonas.newLocation(10, 0, 0, 0, 1, false)"><i class='fas fa-dice'></i>&nbsp;&nbsp;Page10</a></li>
              <li><a href="javascript: window.jonas.newLocation(11, 0, 0, 0, 1, false)"><i class='fas fa-helicopter'></i>&nbsp;&nbsp;Page11</a></li>
              <li><a href="javascript: window.jonas.newLocation(12, 0, 0, 0, 1, false)"><i class='fas fa-hotel'></i>&nbsp;&nbsp;Page12</a></li>
              <li><a href="javascript: window.jonas.newLocation(13, 0, 0, 0, 1, false)"><i class='fas fa-kiss'></i>&nbsp;&nbsp;Page13</a></li>
              <li><a href="javascript: window.jonas.newLocation(14, 0, 0, 0, 1, false)"><i class='fas fa-ship'></i>&nbsp;&nbsp;Page14</a></li>
              <li><a href="javascript: window.jonas.newLocation(15, 0, 0, 0, 1, false)"><i class='fas fa-umbrella'></i>&nbsp;&nbsp;Page15</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  @RenderBody();

  <script type="text/javascript">
    $(function () {
      App.init();
    });

  </script>
</body>
</html>

