<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/jquery-ui.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/bootstrap.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/bootstrap-responsive.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/style.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/style-responsive.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/default.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/dls.hijump.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/dls.hiJumpTheme.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/HarmonyTheme.css" rel="stylesheet" />
  <link href="http://www.Nr1Web1.com/CreateNavFromHarmony/Red.css" rel="stylesheet" />
  <script src="http://www.Nr1Web1.com/CreateNavFromHarmony/jquery-1.12.4.js"></script>
  <script src="http://www.Nr1Web1.com/CreateNavFromHarmony/jquery-ui.js"></script>
  <script src="http://www.Nr1Web1.com/CreateNavFromHarmony/bootstrap.min.js"></script>
  <script src="http://www.Nr1Web1.com/CreateNavFromHarmony/app.js"></script>

  <style>
    textarea, textarea:focus {
      border: 1px solid black;
      font-family: 'Times New Roman';
      font-size: large;
      margin: 20px;
      font-weight: 500;
    }

    .btnSaveTextArea {
      margin-left: 20px; 
      margin-top: 20px; 
      font-family: Arial; 
      font-size: larger;
      font-weight:700;
      background-color: green;
      color: lightcyan;
    }

    input[type=checkbox] {
      transform: scale(1.3) !important;
    }
  </style>

  <script>
    window.jonas = new Object();

    window.jonas.page = 0;
    window.jonas.menu = 0;
    window.jonas.sub1 = 0;
    window.jonas.sub2 = 0;
    window.jonas.tab = 0;
    window.jonas.icon = "";
    window.jonas.textAreaSaved = true;
    window.jonas.maxResourceId = 0;
    window.jonas.previousResource = 0;
    window.jonas.currentResource = 0;
    window.jonas.nextResource = 0;
    window.jonas.location = "initialRequest"; //initialRequest, defaultLocation, nonDefaultLocation, searchResultResources or renderOfResource
    window.jonas.modalState = "";

    window.jonas.checkIconAndSetTitle = function(newIcon, newTitle) {
      if (!$("#iIcon").hasClass('fa-' + newIcon)) {
        $("#iIcon").removeClass('fa-' + window.jonas.icon);  //Remove old icon
        $("#iIcon").addClass('fa-' + newIcon); //Add new icon
        window.jonas.icon = newIcon; //Update window.jonas.icon to new icon
      }
      $("#spanTitle").text(newTitle);
    }

    window.jonas.setTabNames = function (tab1, tab2, tab3, tab4, tab5, tab6, tab7, tab8, tab9, tab10) {
      $("#aTab1").text(tab1);
      $("#aTab2").text(tab2);
      $("#aTab3").text(tab3);
      $("#aTab4").text(tab4);
      $("#aTab5").text(tab5);
      $("#aTab6").text(tab6);
      $("#aTab7").text(tab7);
      $("#aTab8").text(tab8);
      $("#aTab9").text(tab9);
      $("#aTab10").text(tab10);
    }

    window.jonas.handleLeftMenuOnInitialPageLoad = function (menu, sub1, sub2) {
      if (menu > 0) {
        $("#liMenu" + menu).addClass("open");
        $("#liMenu" + menu).addClass("active");
        $("#spanMenu" + menu).addClass("open");
        $("#ulMenu" + menu).css("display", "block");
        $("#liMenu" + menu + "Sub" + sub1).addClass("open");
        $("#liMenu" + menu + "Sub" + sub1).addClass("active");
        $("#spanMenu" + menu + "Sub" + sub1).addClass("open");
        $("#ulMenu" + menu + "Sub" + sub1).css("display", "block");
        $("#liMenu" + menu + "Sub" + sub1 + "Sub" + sub2).addClass("active");
      }
      else {
        $("#liDashboard").addClass("active");
      }
    }

    window.jonas.updateCssDisplayForContentDivs = function (currentLocation, newLocation) {
      var defaultLocation = $("#contentDivDefaultLocation");
      var nonDefaultLocation = $("#contentDivNonDefaultLocation");
      var searchResultResources = $("#contentDivSearchResultResources");
      var renderOfResource = $("#contentDivRenderOfResource");

      if ((newLocation !== "defaultLocation") && (defaultLocation.css("display") !== "none"))
        defaultLocation.css("display", "none");

      if ((newLocation === "defaultLocation") && (defaultLocation.css("display") !== "block"))
        defaultLocation.css("display", "block");

      if ((newLocation !== "nonDefaultLocation") && (nonDefaultLocation.css("display") !== "none"))
        nonDefaultLocation.css("display", "none");

      if ((newLocation === "nonDefaultLocation") && (nonDefaultLocation.css("display") !== "block"))
        nonDefaultLocation.css("display", "block");

      if ((newLocation !== "searchResultResources") && (searchResultResources.css("display") !== "none"))
        searchResultResources.css("display", "none");

      if ((newLocation === "searchResultResources") && (searchResultResources.css("display") !== "block"))
        searchResultResources.css("display", "block");

      if ((newLocation !== "renderOfResource") && (renderOfResource.css("display") !== "none"))
        renderOfResource.css("display", "none");

      if ((newLocation === "renderOfResource") && (renderOfResource.css("display") !== "block"))
        renderOfResource.css("display", "block");

      window.jonas.location = newLocation;
    }

    window.jonas.handleChangeLocation = function (page, menu, sub1, sub2, tabChanged) {

      //Always go to tab1 when change location in left menu
      if ((window.jonas.tab !== 1) && ((page !== window.jonas.page) || (menu !== window.jonas.menu) || (sub1 !== window.jonas.sub1) || (sub2 !== window.jonas.sub2))) {
        $("#liTab" + window.jonas.tab).removeClass("active");
        $("#liTab1").addClass("active");
      }

      if (!tabChanged) {
        if (window.jonas.menu > 0) {
          if (menu !== window.jonas.menu)
            $("#liMenu" + window.jonas.menu).removeClass("active");

          $("#liMenu" + window.jonas.menu + "Sub" + window.jonas.sub1 + "Sub" + window.jonas.sub2).removeClass("active");
        }
        else {
          $("#liDashboard").removeClass("active");
        }

        if (menu > 0) {
          if (!$("#liMenu" + menu).hasClass("active"))
            $("#liMenu" + menu).addClass("active");

          $("#liMenu" + menu + "Sub" + sub1 + "Sub" + sub2).addClass("active");
        }
        else {
          $("#spanMenu" + window.jonas.menu).trigger("click");
          $("#liDashboard").addClass("active");
        }
      }
    }

    window.jonas.textAreaChange = function () {
      $("#btnSave").prop("disabled", false);
      $("#btnSave").css("background-color", "red");
      window.jonas.textAreaSaved = false;
      $(this).off("change");
    }

    window.jonas.handleTextAreaSave = function() {
      var txtArea = $("#textarea");

      var locationExtension = {
        page: window.jonas.page,
        menu: window.jonas.menu,
        sub1: window.jonas.sub1,
        sub2: window.jonas.sub2,
        tab: window.jonas.tab,
        width: txtArea.css("width"),
        height: txtArea.css("height"),
        text: txtArea.val().trim()
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/SaveTextArea",
        data: locationExtension,
        dataType: "json",
        error: function (data) { alert("An error happened! Error message: " + data.responseText); console.log(data); },
        method: "post",
        success: function (data) { alert("Result from server is: " + data); },
        complete: function () {
          $("#btnSave").prop("disabled", true);
          $("#btnSave").css("background-color", "green");
          window.jonas.textAreaSaved = true;
          $("#textarea").on("change", window.jonas.textAreaChange);
        }
      });
    }

    window.jonas.tabChanged = function (tab) {
      if (!window.jonas.textAreaSaved) {
        alert("WATCH OUT!! textarea is not saved!!!");
        return;
      }

      $("#liTab" + window.jonas.tab).removeClass("active");
      $("#liTab" + tab).addClass("active");
      window.jonas.newLocation(window.jonas.page, window.jonas.menu, window.jonas.sub1, window.jonas.sub2, tab, true);
    }

    window.jonas.executeCmd = function () {
      var v, str, descriptionAvailableCommands, index, cmd, val, availableCommands, command, divKeyWords, i, j, total, n, a, b, c;

      descriptionAvailableCommands = "The following commands are available:\r\nr l: New/edit ThumbUpLocation resource\r\nr h: New Html resource\r\nr s: New Self resource\r\nmenu {value}: Set text for current menu\r\nsub1 {value}: Set text for current sub1\r\n";
      descriptionAvailableCommands += "sub2 {value}: Set text for current sub2\r\ntab {value}: Set text for current tab\r\nicon {value}: Set icon for current left menu location\r\ntitle {value}: Set title for current left menu location";

      availableCommands = ["r", "icon", "title", "menu", "sub1", "sub2", "tab"];

      v = $("#inputCmd").val().trim().split(' ');

      if (v.length === 2) {
        cmd = v[0].trim();
        val = v[1].trim();
        index = availableCommands.indexOf(cmd);
      }

      if ((v.length !== 2) || ((v.length === 2) && (index === -1)) || ((v.length === 2) && (cmd === "r") && (val !== "l") && (val !== "h") && (val !== "s")))  {
        alert("ERROR!! Incorrect given command!\r\n" + descriptionAvailableCommands);
        return;
      }
      
      command = {
        page: window.jonas.page,
        menu: window.jonas.menu,
        sub1: window.jonas.sub1,
        sub2: window.jonas.sub2,
        tab: window.jonas.tab,
        cmd: cmd,
        val: val
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/ExecuteCommand",
        data: command,
        dataType: "json",
        error: function (data) { alert("An error happened! Error message: " + data.responseText); console.log(data); },
        method: "post",
        success: function (data) {
          if ((typeof data === "string") && (data.length >= 5) && (data.substring(0, 5) === "ERROR")) {
            alert(data);
            return;
          }

          if (cmd === "icon") {
            $("#iIcon").removeClass('fa-' + window.jonas.icon);
            $("#iIcon").addClass('fa-' + val);
            window.jonas.icon = val;
          }
          else if (cmd === "title") {
            $("#spanTitle").text(val);
          }
          else if (cmd.substring(0, 3) === "tab") {
            $("#aTab" + window.jonas.tab).text(val);
          }
          else if ((cmd === "menu") || (cmd === "sub1") || (cmd === "sub2")) {
            var url = window.location = "http://www.Nr1Web1.com/Main/Default?page=" + window.jonas.page + "&menu=" + window.jonas.menu + "&sub1=" + window.jonas.sub1 + "&sub2=" + window.jonas.sub2 + "&tab=" + window.jonas.tab + "&cmdVisibility=visible";
            window.open(url, "_self");
          }
          else if (cmd === "r") {
            total = data.length;
            n = data.length;

            while ((n % 6) != 0)
              n++;

            a = n / 6;

            divKeyWords = $("#divKeyWords");
            divKeyWords.html("");

            for (i = 0; i < a; i++) {
              index = 6 * i;
              str = "<div style='font-size: large !important;'><input id='keyWord" + data[index].Id + "' type='checkbox' style='margin-bottom: 5px;' />&nbsp;" + data[index].Phrase + "&nbsp;&nbsp;&nbsp;&nbsp;";

              for (j = 1; j <= 5; j++) {
                if ((index + j) < total)
                  str += "<input id='keyWord" + data[index + j].Id + "' type='checkbox' style='margin-bottom: 5px;' />&nbsp;" + data[index + j].Phrase + "&nbsp;&nbsp;&nbsp;&nbsp;";
                else
                  break;
              }

              str += "</div>"

              divKeyWords.append(str);
            }

            if (val === "l") {        
              $("#inputResourceResourcesType").val("ThumbUpLocation");
              $("#tableResources").append("<tr id=\"trResourceThumbUpLocation\"><td style=\"text-align: right !important;\" title=\"Thumb up location\">Location&nbsp;&nbsp;</td><td><input id=\"inputResourceThumbUpLocation\" autocomplete=\"off\" autocorrect=\"off\" autocapitalize=\"off\" spellcheck=\"false\" type=\"text\" style=\"width: 900px !important; margin-top: 7px !important;\" readonly=\"readonly\" value=\"" + "Page" + window.jonas.page + "Menu" + window.jonas.menu + "Sub" + window.jonas.sub1 + "Sub" + window.jonas.sub2 + "Tab" + window.jonas.tab + "\" /></td></tr>");
              window.jonas.openModal("dialogResource", "New ThumbUpLocation resource", 1100, 620, "ThumbUpLocation");
            }
            else if (val === "h") {
              $("#inputResourceResourcesType").val("Html");             
              $("#tableResources").append("<tr id=\"trResourceHtmlFile\"><td style=\"text-align: right !important;\" title=\"Html file\">Html file&nbsp;&nbsp;</td><td><input id=\"inputResourceHtmlFile\" autocomplete=\"off\" autocorrect=\"off\" autocapitalize=\"off\" spellcheck=\"false\" type=\"text\" style=\"width: 900px !important; margin-top: 7px !important;\" /></td></tr>");
              window.jonas.openModal("dialogResource", "New Html resource", 1100, 620, "Html");
            }
            else {
              $("#inputResourceResourcesType").val("Self");
              $("#tableResources").append("<tr id=\"trResourceFiles\"><td style=\"text-align: right !important;\" title=\"Files full path (row separated)\">Files&nbsp;&nbsp;</td><td><textarea id=\"textareaResourceFiles\" autocomplete=\"off\" autocorrect=\"off\" autocapitalize=\"off\" spellcheck=\"false\" type=\"text\" style=\"width: 900px !important; height: 100px !important; margin-top: 7px !important; margin-left: 0px !important; font-size: small !important;\"></textarea></td></tr>");
              $("#tableResources").append("<tr id=\"trResourceLinks\"><td style=\"text-align: right !important;\" title=\"Links (row separated) and ###  between value of href-attribute and text to show for link\">Links&nbsp;&nbsp;</td><td><textarea id=\"textareaResourceLinks\" autocomplete=\"off\" autocorrect=\"off\" autocapitalize=\"off\" spellcheck=\"false\" type=\"text\" style=\"width: 900px !important; height: 100px !important; margin-top: 7px !important; margin-left: 0px !important; font-size: small !important;\"></textarea></td></tr>");
              window.jonas.openModal("dialogResource", "New Self resource", 1100, 620, "Self");
            }
          }

          $("#inputCmd").val("");
        }
      });
    }

    window.jonas.setTitleTextInBrowser = function (page, menu, sub1, sub2, tab, suffix) {
      var titleTextInBrowser;

      if ((menu > 0) && (tab > 0))
        titleTextInBrowser = "Page" + page + " - Menu" + menu + " - Sub" + sub1 + " - Sub" + sub2 + " - Tab" + tab + suffix;
      else if ((menu === 0) && (tab > 0))
        titleTextInBrowser = "Page" + page + " - Dashboard - Tab" + tab + suffix;
      else if ((menu > 0) && (tab === 0))
        titleTextInBrowser = "Page" + page + " - Menu" + menu + " - Sub" + sub1 + " - Sub" + sub2 + suffix;
      else
        titleTextInBrowser = "Page" + page + " - Dashboard" + suffix;

      $("title").text(titleTextInBrowser);
    }

    window.jonas.newLocation = function (page, menu, sub1, sub2, tab, tabChanged) {
      var location;
 
      if ((page === window.jonas.page) && (menu === window.jonas.menu) && (sub1 === window.jonas.sub1) && (sub2 === window.jonas.sub2) && (tab === window.jonas.tab))
        return;
      
      // ----------- If it is a new page a full reload is needed to rerender left menu ----------------------
      if ((window.jonas.location !== "initialRequest") && (page !== window.jonas.page)) {
        window.location = "http://www.Nr1Web1.com/Main/Default?page=" + page + "&menu=0&sub1=0&sub2=0&tab=1";
        return;
      }
      // ----------------------------------------------------------------------------------------------------

      // ----- Initial request from browser -----
      if (window.jonas.location === "initialRequest") {

        window.jonas.handleLeftMenuOnInitialPageLoad(menu, sub1, sub2);
        $("#liTab" + tab).addClass("active");
        $("#textarea").on("change", window.jonas.textAreaChange);
        $("#btnSave").on("click", function () { window.jonas.handleTextAreaSave(); });
      }

      // Check if textarea in a default location is saved
      if (!window.jonas.textAreaSaved) {
        alert("WATCH OUT!! textarea is not saved!!!");
        return;
      }

      location = {
        page: page,
        menu: menu,
        sub1: sub1,
        sub2: sub2,
        tab: tab,
        newLocationByChangeOfTab: tabChanged
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/NewLocation",
        data: location,
        error: function (data) { alert("An error happened! Error message: " + data.responseText); console.log(data); },
        method: "post",
        success: function (data) {
          if (typeof data === "object") { //Default location. Update icon, title, tab1-tab10 (if not new location by change of tab) and for textarea the text, width and height
            var txtArea, i;

            window.jonas.checkIconAndSetTitle(data.Icon, data.Title);

            if (!tabChanged) {
              for (i = 1; i <= 10; i++) {
                if (data.Tab[i - 1] !== $("#aTab" + i).text())
                  $("#aTab" + i).text(data.Tab[i - 1]);
              }
            }

            txtArea = $("#textarea");
            txtArea.val(data.Text);
            txtArea.css("width", data.Width);
            txtArea.css("height", data.Height);

            window.jonas.setTitleTextInBrowser(page, menu, sub1, sub2, tab, " (default location)");
            window.jonas.updateCssDisplayForContentDivs(window.jonas.location, "defaultLocation");
            window.jonas.handlePreviousCurrentNextResource(data.PreviousResource, data.CurrentResource, data.NextResource);
          }
          else { //html back from server, i.e. a non-default location
            $("#contentDivNonDefaultLocation").html(data);
            window.jonas.setTitleTextInBrowser(page, menu, sub1, sub2, tab, " (non-default location)");
            window.jonas.updateCssDisplayForContentDivs(window.jonas.location, "nonDefaultLocation");
          }

          window.jonas.handleChangeLocation(page, menu, sub1, sub2, tabChanged);

          if ((window.jonas.location === "searchResultResources") || (window.jonas.location === "renderOfResource"))
            $("#liTab" + tab).addClass("active");

          window.jonas.page = page;
          window.jonas.menu = menu;
          window.jonas.sub1 = sub1;
          window.jonas.sub2 = sub2;
          window.jonas.tab = tab;
        }
      });
    }

    window.jonas.searchResources = function () {
      $.ajax({
        url: "http://www.Nr1Web1.com/Main/SearchResource",
        data: { searchTerm: $("#searchTerm").val() },
        error: function (data) { alert("An error happened! Error message: " + data.responseText); console.log(data); },
        method: "post",
        success: function (data) {
          $("#contentDivSearchResultResources").html(data);
          searchTerm: $("#searchTerm").val("");
          window.jonas.showLatestSearchResultOfResources();
        }
      });
    }

    window.jonas.showLatestSearchResultOfResources = function() {
      if (window.jonas.location === "searchResultResources")
        return;

      if (window.jonas.location !== "renderOfResource") {
        $("#liTab" + window.jonas.tab).removeClass("active");
        window.jonas.tab = 0;
      }

      window.jonas.setTitleTextInBrowser(window.jonas.page, window.jonas.menu, window.jonas.sub1, window.jonas.sub2, 0, " (Search result resources)");
      window.jonas.updateCssDisplayForContentDivs(window.jonas.location, "searchResultResources");
      window.jonas.checkIconAndSetTitle("shuttle-van", "Search result for resources");
    }

    window.jonas.showLastRenderOfResource = function() {
      if (window.jonas.location === "renderOfResource")
        return;

      if (window.jonas.location !== "searchResultResources") {
        $("#liTab" + window.jonas.tab).removeClass("active");
        window.jonas.tab = 0;
      }

      window.jonas.setTitleTextInBrowser(window.jonas.page, window.jonas.menu, window.jonas.sub1, window.jonas.sub2, 0, " (Render of resource)");
      window.jonas.updateCssDisplayForContentDivs(window.jonas.location, "renderOfResource");
      window.jonas.checkIconAndSetTitle("book-reader", "Render of resource " + window.jonas.resource);
    }

    window.jonas.openModal = function (id, title, width, height, modalState) {
      var options, popup;

      window.jonas.modalState = modalState;

      options = {
        modal: true,
        title: title,
        position: { my: "center", at: "center", of: window },
        minHeight: 0,
        width: width,
        height: height,
        close: function () {

          if ((window.jonas.modalState === "ThumbUpLocation") || (window.jonas.modalState === "Html") || (window.jonas.modalState === "Self")) {
            $("#inputResourceId").val("");
            $("#inputResourceResourcesType").val("");
            $("#inputResourceCreated").val("");
            $("#inputResourceTitle").val("");
            $("#inputResourceNote").val("");
            $("#inputResourcePrevious").val("");
            $("#inputResourceNext").val("");

            if (window.jonas.modalState === "ThumbUpLocation") {
              $("#trResourceThumbUpLocation").remove();
              window.jonas.handlePreviousCurrentNextResource(window.jonas.previousResource, window.jonas.currentResource, window.jonas.nextResource);
            }
            else if (window.jonas.modalState === "Html") {
              $("#trResourceHtmlFile").remove();
            }
            else if (window.jonas.modalState === "Self") {
              $("#trResourceFiles").remove();
              $("#trResourceLinks").remove();
            }
          }
          else if ((window.jonas.modalState === "AddKeyWord") || (window.jonas.modalState === "EditKeyWord")) {
            $("#inputKeyWordId").val("");
            $("#inputKeyWordCreated").val("");
            $("#inputKeyWordPhrase").val("");
            $("#inputKeyWordNote").val("");

            if (window.jonas.modalState === "EditKeyWord")
              $("#inputKeyWordPhrase").prop("readonly", false);
          }

          window.jonas.modalState = "";
        }
      };

      popup = $('#' + id);
      popup.dialog(options);
      popup.dialog('open');
      popup.show();
    }

    window.jonas.handleKeyWord = function (id, created, phrase, note) {
      var keyWord, newPhrase, newNote;

      newPhrase = phrase.trim();
      newNote = note.trim();

      if (!newPhrase || !newNote) {
        alert("Both a phrase and a note must be given!");
        return;
      }

      keyWord = {
        id: id,
        idString: null,
        created: created,
        phrase: newPhrase,
        note: newNote
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/HandleKeyWord",
        data: keyWord,
        error: function (data) { alert("An error happened! Error message: " + data.responseText); console.log(data); },
        method: "post",
        success: function (data) {
          var tmp, element = "<tr>";
          if ((typeof data === "object") && (!id)) { //Success add new key word. Insert the new key word in the table
            element += "<td>" + data.Id.toString() + "</td>";
            element += ("<td>" + data.Created + "</td>");
            element += ("<td>" + data.Phrase + "</td>");
            element += ("<td id='" + data.IdString + "'>" + data.Note + "</td>");

            tmp = "<td><a href=\"javascript: window.jonas.openModalToEditKeyWord('AAA', 'BBB', 'CCC')\">Edit</a></td></tr>";
            tmp = tmp.replace("AAA", data.Id.toString());
            tmp = tmp.replace("BBB", data.Created);
            tmp = tmp.replace("CCC", data.Phrase);
            element += tmp;
            $("#tableKeyWords").append(element);

            $("#dialogKeyWord").dialog("option", "title", "Edit key word");      
            $("#inputKeyWordId").val(data.Id.toString());
            $("#inputKeyWordCreated").val(data.Created);
            $("#inputKeyWordPhrase").prop("readonly", true);
            window.jonas.modalState = "EditKeyWord";
          }
          else if ((typeof data === "object") && id) { //Update was successful
            alert("Update was successful");
            $('#' + data.IdString).text(data.Note);
          }
          else {
            alert(data); //Error occured
          }
        }
      });
    }

    window.jonas.openModalToEditKeyWord = function (id, created, phrase) {
      var note;
      $("#inputKeyWordId").val(id);
      $("#inputKeyWordCreated").val(created);
      $("#inputKeyWordPhrase").val(phrase);
      note = $("#keyWord" + id).text();
      $("#inputKeyWordNote").val(note);
      $("#inputKeyWordPhrase").prop("readonly", true);
      window.jonas.openModal("dialogKeyWord", "Edit key word", 800, 350, "EditKeyWord");
    }

    window.jonas.handleResource = function () {
      var id, resourcesType, created, title, note, previous, next, keyWords; //Same for all 3 resource types
      var thumbUpLocation = ""; //Only type ThumbUpLocation
      var htmlFile = ""; //Only type Html
      var files = "", links = ""; //Only type Self
      var newKeyWords, resource, i, roundNumber;

      id = $("#inputResourceId").val();
      resourcesType = $("#inputResourceResourcesType").val();
      created = $("#inputResourceCreated").val();
      title = $("#inputResourceTitle").val().trim();
      note = $("#inputResourceNote").val().trim();
      previous = $("#inputResourcePrevious").val();
      next = $("#inputResourceNext").val();
      keyWords = $("input[type='checkbox']:checked", "#divKeyWords");

      if (window.jonas.modalState === "ThumbUpLocation") {
        thumbUpLocation = $("#inputResourceThumbUpLocation").val().trim();
      }

      if (window.jonas.modalState === "Html") {
        htmlFile = $("#inputResourceHtmlFile").val().trim();

        if (!html) {
          alert("A Html-file must be given!");
          return;
        }
      }

      if (window.jonas.modalState === "Self") {
        files = $("#textareaResourceFiles").val().trim();
        links = $("#textareaResourceLinks").val().trim();
      }

      if (!title) {
        alert("Title must be given!");
        return;
      }

      if (keyWords.length === 0) {
        alert("At least one key word must be given!");
        return;
      }

      if (!previous)
        previous = 0;

      if (!next)
        next = 0;

      //previous, next and id seem to be of type string even if "type=number" in the input-element
      id = window.Number(id);
      previous = window.Number(previous);
      next = window.Number(next);

      roundNumber = Math.round(previous);
      if ((previous !== 0) && ((Math.round(previous) !== previous) || (previous < 1) || (previous > window.jonas.maxResourceId))) {
        alert("Previous must be an integer in the range [1," + window.jonas.maxResourceId + "]!");
        return;
      }

      roundNumber = Math.round(next);
      if ((next !== 0) && ((Math.round(next) !== next) || (next < 1) || (next > window.jonas.maxResourceId))) {
        alert("Next must be an integer in the range [1," + window.jonas.maxResourceId + "]!");
        return;
      }

      if (id && (previous !== 0) && (previous === id)) {
        alert("Previous can not point to itself!");
        return;
      }

      if (id && (next !== 0) && (next === id)) {
        alert("Next can not point to itself!");
        return;
      }

      if ((previous !== 0) && (next !== 0) && (previous === next)) {
        alert("Previous and Next can not point to same resource!");
        return;
      }

      newKeyWords = "";

      for (i = 0; i < keyWords.length; i++) {
        if ((keyWords[i].checked) && (newKeyWords === "")) {
          newKeyWords = keyWords[i].id.substring(7);
        }
        else if ((keyWords[i].checked) && (newKeyWords !== ""))  {    
          newKeyWords += ("," + keyWords[i].id.substring(7));
        }
      }

      if (!id)
        id = 0;

      resource = {
        id: id,
        resourcesType: resourcesType,
        created: created,
        title: title,
        keyWords: newKeyWords,
        note: note,
        previousResource: previous,
        nextResource: next,
        thumbUpLocation: thumbUpLocation,
        htmlFile: htmlFile,
        files: files,
        links: links
      }

      $.ajax({
        url: "http://www.Nr1Web1.com/Main/HandleResource",
        data: resource,
        error: function (data) { alert("An error happened! Error message: " + data.responseText); console.log(data); },
        method: "post",
        success: function (data) {

          if ((typeof data === "string") && (data.length >= 5) && (data.substring(0, 5) === "ERROR")) {
            alert(data);
            return;
          }
          else if (typeof data === "object") {
            $("#inputResourceId").val(data.Id);
            $("#inputResourceCreated").val(data.Created);
            $("#dialogResource").dialog("option", "title", "Update " + data.ResourcesType + " resource");

            if (window.jonas.modalState === "ThumbUpLocation") {
              window.jonas.previousResource = data.PreviousResource;
              window.jonas.currentResource = Data.Id;
              window.jonas.nextResource = data.NextResource;
            }

            window.jonas.maxResourceId++;
          }
          else {
            alert("Update of the resource was successful!");
          }
        }
      });
    }

    window.jonas.handlePreviousCurrentNextResource = function (previous, current, next) {

      if (($("#spanResourcePrevious").css("display") === "none") && (current !== 0)) {
        $("#spanResourcePrevious").css("display", "inline");
        $("#spanResourceCurrent").css("display", "inline");
        $("#spanResourceNext").css("display", "inline");
      }
      else if (($("#spanResourcePrevious").css("display") === "inline") && (current === 0)) {
        $("#spanResourcePrevious").css("display", "none");
        $("#spanResourceCurrent").css("display", "none");
        $("#spanResourceNext").css("display", "none");
      }

      if (current !== 0) {
        $("#spanResourcePrevious").text("(R" + previous);
        $("#spanResourceCurrent").text("R" + current);
        $("#spanResourceNext").text("R" + next + ")");
      }
         
      window.jonas.previousResource = previous;
      window.jonas.currentResource = current;
      window.jonas.nextResource = next;
    }

    window.jonas.renderResource = function(id) {

    }

    window.jonas.renderPreviousResource = function() {
      window.jonas.renderResource(window.jonas.previousResource);
    }

    window.jonas.renderNextResource = function() {
      window.jonas.renderResource(window.jonas.nextResource);
    }

  </script>
</head>
<body id="jonasApp" class="page-header-fixed no-inlinesvg">
  <div class="hijumpTopMenu header navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <ul class="nav pull-right">
          <li class='dropdown user'>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src='http://www.Nr1Web1.com/CreateNavFromHarmony/Jonas.png' style='width:29px; height:29px;' />
              <span class='username'>Jonas Leander</span>
              <i class="fas fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a href="javascript: window.jonas.newLocation(1, 0, 0, 0, 1, false)"><i class='fas fa-key'></i>&nbsp;&nbsp;Page1</a></li>
              <li><a href="javascript: window.jonas.newLocation(2, 0, 0, 0, 1, false)"><i class='fas fa-camera'></i>&nbsp;&nbsp;Page2</a></li>
              <li><a href="javascript: window.jonas.newLocation(3, 0, 0, 0, 1, false)"><i class='fas fa-print'></i>&nbsp;&nbsp;Page3</a></li>
              <li><a href="javascript: window.jonas.newLocation(4, 0, 0, 0, 1, false)"><i class='fas fa-book'></i>&nbsp;&nbsp;Page4</a></li>
              <li><a href="javascript: window.jonas.newLocation(5, 0, 0, 0, 1, false)"><i class='fas fa-magnet'></i>&nbsp;&nbsp;Page5</a></li>
              <li><a href="javascript: window.jonas.newLocation(6, 0, 0, 0, 1, false)"><i class='fas fa-bed'></i>&nbsp;&nbsp;Page6</a></li>
              <li><a href="javascript: window.jonas.newLocation(7, 0, 0, 0, 1, false)"><i class='fas fa-beer'></i>&nbsp;&nbsp;Page7</a></li>
              <li><a href="javascript: window.jonas.newLocation(8, 0, 0, 0, 1, false)"><i class='fas fa-bell'></i>&nbsp;&nbsp;Page8</a></li>
              <li><a href="javascript: window.jonas.newLocation(9, 0, 0, 0, 1, false)"><i class='fas fa-bus'></i>&nbsp;&nbsp;Page9</a></li>
              <li><a href="javascript: window.jonas.newLocation(10, 0, 0, 0, 1, false)"><i class='fas fa-dice'></i>&nbsp;&nbsp;Page10</a></li>
              <li><a href="javascript: window.jonas.newLocation(11, 0, 0, 0, 1, false)"><i class='fas fa-helicopter'></i>&nbsp;&nbsp;Page11</a></li>
              <li><a href="javascript: window.jonas.newLocation(12, 0, 0, 0, 1, false)"><i class='fas fa-hotel'></i>&nbsp;&nbsp;Page12</a></li>
              <li><a href="javascript: window.jonas.newLocation(13, 0, 0, 0, 1, false)"><i class='fas fa-kiss'></i>&nbsp;&nbsp;Page13</a></li>
              <li><a href="javascript: window.jonas.newLocation(14, 0, 0, 0, 1, false)"><i class='fas fa-ship'></i>&nbsp;&nbsp;Page14</a></li>
              <li><a href="javascript: window.jonas.newLocation(15, 0, 0, 0, 1, false)"><i class='fas fa-umbrella'></i>&nbsp;&nbsp;Page15</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  @RenderBody();

  <script type="text/javascript">
    $(function () {
      App.init();
    });

  </script>
</body>
</html>

