<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="RichTextEditorTempPath  " value="~/rtetemp" />
    <add key="FzShipMateUserName" value="paul@fixzone.com" />
    <add key="FzShipMatePassword" value="Rjd2rjd2" />
    <add key="FzShipMateToken" value="628af98fb045bdb636452204fde483d6" />
    <add key="FzShipMateBaseUrl" value="http://web2016/FzShipmate/FzShipmate.dll/" />
  </appSettings>
</configuration>