@using System.Web.Optimization
@model CAST.Models.Job.Job_NoteDtoShop

@{
    ViewBag.Title = "JobNotes";
}

<h2>JobNotes</h2>
<table id="tbJobNotes"></table>
<div id ="pager"></div>

@Scripts.Render("~/scripts/NotesView-js")