@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body style="margin-top: 25px; margin-left: 50px; color: red; font-family: Arial; font-size: large; font-weight: bold;">
    @ViewBag.ErrorMessage
</body>
</html>
